/* PRJ4740 - Fale Conosco - START */

/* COMPONENTE SCROLLBAR - START */

.scrollbox {
	overflow: auto;
	height: 195px;
	width: 100.5% !important;
	padding: 5px 25px 25px 35px;
}

.vertical-track {
	width: 5px;
	height: 140px !important;
	background: rgba(0, 0, 0, 0);
	margin-right: 2px;
	border-radius: 10px;
	-webkit-transition: background 250ms linear;
	transition: background 250ms linear;
	right: 25px;
	top: 34px;
}

.vertical-track:hover, 
.vertical-track.dragging {
	background: #d9d9d9; /* Browsers without rgba support */
	background: rgba(0, 0, 0, 0.15);
}

.vertical-handle {
	/*height: 20%;*/
	height: 45px !important;
	width: 5px;
	background: #999;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 7px;
	-webkit-transition: width 250ms;
	transition: width 250ms;
}

.vertical-track:hover .vertical-handle, 
.vertical-track.dragging .vertical-handle {
	width: 5px;
}
/* COMPONENTE SCROLLBAR - END */

/* PRJ4740 - Fale Conosco - END */
