
//FIX IE
.material-icons{
  font-feature-settings: 'liga';
}
.without-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.float-left{
  float: left !important;
}

.btn-phone-container{
  .btn.btn-default{
    width: 223px;
    height: 45px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
    border: solid 1px #d3d1d1;
    font-size: 12px;
    //margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child{
      margin-top: 10px;
    }
  }
}


.error-message{
  font-size: 1.5em;
  padding-bottom: 12px;
  font-weight:bold;
  margin-top:44px;
  border-bottom: 1px dotted #000000;
}


.error-message-info{
  border-radius: 4px;
  background-color: #f9ccc7;
  border: solid 1px #e35143;
  padding: 0px 16px;
  height: 44px;
  display: flex;
  align-items: center;
  margin-top: 16px;

  i{
    margin-right: 8px;
    font-size: 22px;
    color: #ff301d;
  }
}

.panel-component-info .error-message-info{
  margin-top: 47px;
}

.error-message-info span{
  font-size: 11px;
  text-align: left;
  color: #222222;
}

.error-message-info .glyphicon{
  width: 20px;
  height: 20px;
  background: #ff301d;
  border-radius: 50%;
  text-align: center;
  /* line-height: 0px; */
  font-size: 12px;
  line-height: 1.8;
  color: white;
  font-weight: 100;
  margin-right: 8px;
}


.message-title{
  font-size: 1.5em;
  font-weight:bold;
  margin-top:44px;
}

.message-body{
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #666666;
}



.error-message-info p{
  font-size: 11px;
  text-align: left;
  color: #222222;
}

.btn-tentar-novamente{
  height: 50px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
  border: solid 1px #d3d1d1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #020202;
  margin: 40px 0 30px 0;
  padding-top: 8px;
}

.panel-component-info{
  border-width: 0px;
  box-shadow: none;
}

.panel .panel-heading,
.panel-component-info .panel-heading{

  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fdfdfd, #e9e9e9);
  //border: solid 1px #cccccc;
}
.panel-heading{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.panel-heading.bar-chart{
  margin: -1px -1px 0px -1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 18px 5px 5px;

  h4{
    font-size: 14px;
    padding-right: 0;
    margin-right: 0;
  }

  select{
    margin-top: 6px;
  }

  .detalhes{
    display: inline-block;
    background: url(../ArquivosEstaticos/MinhaOi/css/images/hide-arrow.png) no-repeat;
  }

  .detalhes.collapsed{
    background: url(../ArquivosEstaticos/MinhaOi/css/images/display-arrow.png) no-repeat;
  }


}

.panel-component-info .panel-heading strong{
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  color: #333333;
  -webkit-text-stroke: 1px #979797;
  margin-right: 16px;
}

.panel-component-info .panel-heading select{
  width: 196px;
  height: 30px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dededf;
}

.panel-component-info .panel-body{
    display: flex;
    margin-top: 28px;
    padding-bottom: 28px;
}

.panel-body-saldo, .pacote-extra{
  padding: 15px 15px 25px 15px;
}



.panel-component-info .panel-body.loading{
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom-width: 0px !important;
}

.panel-component-info .panel-body .item-left{
    border-right: 1px solid #eeeeee;
    padding-right: 16px;
}

.panel-component-info .panel-body .date,
.panel-component-info .panel-body .title{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: left;
  color: #333333;
}

.panel-component-info .panel-body .hour,
.panel-component-info .panel-body .info{
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #666666;
  margin-top: 4px;
}

.panel-component-info .panel-body .item-right{
  padding-left: 16px;
}

.panel-component-info .panel-body:not(:last-child){
  border-bottom: 1px solid #eeeeee;
}

.loading-mask{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.loading-mask .loading-icon{
  width: 28px;
  height: 28px;
  border: 3px solid #FFF;
  border-radius: 50%;
  border-bottom-color: #d82482;
  border-left-color: #d82482;
  border-top-color: #d82482;
  animation: loading-mask 1s infinite;
  animation-timing-function: linear;
}

.button-mostrar-mais{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.button-mostrar-mais button{
  width: 153px;
  height: 30px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fdfdfd, #e9e9e9);
  border: solid 1px #cccccc;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

.message-info{
  border-radius: 4px;
  background-color: #fdfbc3;
  border: solid 1px #f8cf46;
  padding: 0px 16px;
  height: 44px;
  display: flex;
  align-items: center;
  margin-top: 32px;

  i{
    margin-right: 10px;
    font-size: 22px;
    color: #e7be34;
  }
}

.message-info span{
  font-size: 11px;
  text-align: left;
  color: #222222;
}

.message-default{
  border-radius: 4px;
  background-color: #f2f2f2;
  border: solid 1px #dddddd;
  padding: 0px 16px;
  height: 44px;
  display: flex;
  align-items: center;
  margin-top: 16px;

  i{
    margin-right: 10px;
    font-size: 22px;
    //color: #ff301d;
  }
}

.message-default .message-default-icon{
  background: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 15px;
  text-align: center;
  margin-right: 10px;
}

.message-default span{
  font-size: 11px;
  text-align: left;
  color: #222222;
}

.panel-component-info .message-default{
  margin-top: 57px;
}

.scroll-top{
  position: relative;
  text-align: center;
}

.scroll-top *{
  position: relative;
  font-size: 40px;
  line-height: 1.1;
}

.scroll-top .glyphicon{
  position: absolute;
  font-size: 21px;
  top: 12px;
  left: 12px;
  font-weight: 100;
}

.scroll-top .button-scroll-top{
  border-radius: 50%;
  border-width: 0px;
  position: absolute;
  right: -100px;
  top: -3px;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dddddd;
  cursor: pointer;
}

.c-account-user-info{
  font-size: 12px;
  line-height: 1.42;
  text-align: left;
  color: #313131;
  margin-top: 36px;

  p{
    margin: 0px;
  }
}

//bar chart
.wrapper-graphic-cingapura{
  width: 100%;
  position: relative;
  margin-top: 30px;

  .container-erro-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p{
      width: 280px;
      font-size: 12px;
      line-height: 1.25;
      text-align: center;
      color: #000000;
    }

    .btn-try-again{
      width: 194px;
      margin: 20px 0px 60px 0px;
    }
  }

  .info{
    position: absolute;
    top: 0px;
    right: 52px;
    display: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    /* border: 2px solid black; */
    /* text-align: center; */
    /* font-weight: 700; */
    line-height: 0.8;
    font-size: 18px;
    color: #ef386c;
    background-color: transparent;
    cursor: default;
  }

  .tooltip{
    margin-left: 4px;
    //background: white;
    .tooltip-inner,
    .tooltip-arrow:after{
      background: white;
      color: black;
    }

    .tooltip-arrow{
      border-bottom-color: white;
      bottom: -33px;
      left: 50%;
      margin-left: -10px;
      border-width: 0px 10px 10px;
      //box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    .tooltip-inner{
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      width: 206px;
      margin-top: 90px;
      font-size: 12px;
      line-height: 1.67;
      text-align: center;
      color: #313131;
      margin-left: -60px;

    }
  }

  .current-data, .pacote-extra-current-data{
    position: absolute;
    top: 70px;
    width: 66px;
    // height: 45px; // ocultando balão do current-data
    // background-color: #ffffff;
    // box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05);
    // border: solid 1px #dddddd;
    // border-radius: 4px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.93;
    letter-spacing: -0.5px;
    text-align: center;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow-border{
      position: absolute;
      top: -21px;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #DDD transparent;
    }

    .arrow{
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }
  }

  .container-label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    span{
      font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      color: #000;
    }

    span.titulo-grafico{
      font-family: Arial;
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      color: #000;
    }
  }

  .container-graphic{
    width: 100%;
    height: 36px;
    border-radius: 4px;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;

    .proporcional-adesao{
      display: flex;
      align-items: center;
      justify-content: center;
      //width: 214px;
      height: 36px;
      // opacity: 0.4;
      background-image: linear-gradient(277deg, #ea288c, #ff6d00);
    }

    .valor-atual{
      //width: 98px;
      height: 36px;
      background-image: linear-gradient(105deg, #ea288c, #ff6d00), linear-gradient(to top, #f24354, #ec2c85);
    }
  }

  .pacote-extra-container-graphic{
    width: 100%;
    height: 36px;
    border-radius: 4px;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;

    .pacote-extra-proporcional-adesao{
      display: flex;
      align-items: center;
      justify-content: center;
      //width: 214px;
      height: 36px;
      // opacity: 0.4;
      background-image: linear-gradient(277deg, #ea288c, #ff6d00);
    }

    .pacote-extra-valor-atual{
      //width: 98px;
      height: 36px;
      background-image: linear-gradient(105deg, #ea288c, #ff6d00), linear-gradient(to top, #f24354, #ec2c85);
    }
  }

}

.data-de-renovacao{
  width: 100%;
  margin-top: 80px;
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  color: #909090;
}

.consumo-detalhado-wrapper{
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-top: 20px;

  button{
    border-width: 0px;
    background: transparent;
    text-decoration: underline;
    font-family: Arial;
    font-size: 12px;
    &:hover {
      color: #c72177;
    }
  }


  .detalhes{
    display: inline-block;
    background: url(../ArquivosEstaticos/MinhaOi/css/images/hide-arrow.png) no-repeat;
  }

  .detalhes.collapsed{
    background: url(../ArquivosEstaticos/MinhaOi/css/images/display-arrow.png) no-repeat;
  }
}

#detalhes-por-pessoa__{
  margin-left: -15px;
  margin-right: -15px;
}

@keyframes loading-mask {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

///////// donut

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.full-container-chart{
  max-width: 774px;

  .dipnone {
    visibility: hidden;
  }
  svg.svg-border{
    background: transparent;
    position: absolute;
    top: -20px;
    left: -20px;
  }

  .charts-dados-navegados{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .col-xs-12,
    .col-xs-6{
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .header{
    padding: 20px;
    border: solid 1px #dbdbdb;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 20px;
  }

  .saldo-list{
    padding: 0 20px;
    margin-top: 50px;
    

    ul, ul.total-consumption-resume{
      background-color: #f3f3f3;
      list-style-type: none;
      border: solid 1px #dbdbdb;
      border-radius: 5px;
      padding: 0 10px;

      li{
        padding: 10px 10px 10px 10px;
        border-bottom: solid 1px #dbdbdb;
        list-style-type: none;
        font-size: 13px;

        span{
          font-weight: bold;
        }
      }
    }

    ul.total-consumption{
      background-color: #f3f3f3;
      list-style-type: none;
      border: solid 1px #dbdbdb;
      border-radius: 5px;
      padding: 0 10px;

      li{
        padding: 10px 10px 10px 10px;
        border-bottom: solid 1px #dbdbdb;
        list-style-type: none;
        font-size: 13px;

        span{
          font-weight: bold;
        }
        div{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          .info{
            // position: absolute;
            // top: 0px;
            // right: 52px;
            display: none;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            /* border: 2px solid black; */
            /* text-align: center; */
            /* font-weight: 700; */
            line-height: 0.8;
            font-size: 18px;
            color: #ef386c;
            cursor: default;
            margin-top: 2px;
            margin-left: 5px;
          }
        
          .tooltip{
            margin-left: 4px;
            //background: white;
            .tooltip-inner,
            .tooltip-arrow:after{
              background: white;
              color: black;
            }
        
            .tooltip-arrow{
              border-bottom-color: white;
              bottom: -33px;
              left: 50%;
              margin-left: -10px;
              border-width: 0px 10px 10px;
              //box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
            }
        
            .tooltip-inner{
              box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
              border-radius: 2px;
              width: 206px;
              margin-top: 90px;
              font-size: 12px;
              line-height: 1.67;
              text-align: center;
              color: #313131;
              margin-left: -60px;
        
            }
          }

        }

        

      }
    }

    .saldo-list-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      

      div{
        display: flex;
        flex-direction: row;

        
        span{
          font-weight: bold;
          margin-right: 5px;
        }
        .info{
          // position: absolute;
          // top: 0px;
          // right: 52px;
          display: none;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          /* border: 2px solid black; */
          /* text-align: center; */
          /* font-weight: 700; */
          line-height: 0.8;
          font-size: 18px;
          color: #ef386c;
          cursor: default;
          margin-top: 3px;
          margin-left: 5px;
        }
      
        .tooltip{
          margin-left: 4px;
          //background: white;
          .tooltip-inner,
          .tooltip-arrow:after{
            background: white;
            color: black;
          }
      
          .tooltip-arrow{
            border-bottom-color: white;
            bottom: -33px;
            left: 50%;
            margin-left: -10px;
            border-width: 0px 10px 10px;
            //box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
          }
      
          .tooltip-inner{
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
            border-radius: 2px;
            width: 206px;
            margin-top: 90px;
            font-size: 12px;
            line-height: 1.67;
            text-align: center;
            color: #313131;
            margin-left: -60px;
      
          }
        }
      }

    }
  }


  .chart-item{
    min-height: 198px;
    padding-bottom: 10px;
    padding-right: 4px;
    border: solid 1px #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: -1px;
    border-right-width: 0px;
    margin-top: -1px;
    position: relative;
    // padding-bottom: 15px;

    .phone{
      font-size: 14px;
      margin: -4px 0 4px 0;
      text-align: left;
      color: #222222;
      // margin: 20px 0px;
    }
    .info-detail {
      display: flex;
      flex-flow: column;
      align-items: center;
      position: absolute;
      top: 0px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      width: 140px;
      padding: 10px 5px;
      background: #fff;
      z-index: 9999;
      &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -8px;
          width: 0;
          height: 0;
          border-top: 8px solid #FFFFFF;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
      }
      .media-consumo {
        font-size: 10px;
      }
      .total,
      .avulso{
        font-size: 10px;
        text-align: center;
        color: #313131;
      }
      // .avulso {
      //   display: none !important;
      // }
      strong{
        font-size: 10px;
      }
    }
    .chart-info{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      position: absolute;
      top: 60px;
      z-index: 1000;
      left: 0px; //FIX IE
      right: 0px; //FIX IE

      .tooltip{
        width: 110px !important;
        padding: 0px !important;
        height: auto !important;
        margin-top: -10px;

        .tooltip-inner{
          width: 110px !important;
          //height: 63.2px !important;
          border-radius: 2px;
          background-color: #ffffff !important;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          font-size: 12px;
          line-height: 1.67;
          text-align: center;
          color: #313131;
          padding: 7px;
        }

        .tooltip-arrow{
          bottom: -9px;
          left: 50%;
          margin-left: -10px;
          border-width: 10px 10px 0;
          border-top-color: white;
        }
      }
      .info.material-icons {
        color: #ef386c;
        font-size: 26px;
        cursor: default;
        // margin-top: 15px;
      }

      .valor{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #313131;
        // margin-bottom: 10px;
      }

      .tooltip-info{
        position: absolute;
        width: 110px;
        height: 63.2px;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        font-size: 12px;
        line-height: 1.67;
        text-align: center;
        color: #313131;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -15px;

        .tooltip-arrow-shadow{
          position: absolute;
          top: 63px;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: #dbdbdb transparent transparent transparent;
        }

        .tooltip-arrow{
          position: absolute;
          top: 61px;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: white transparent transparent transparent;
        }
      }
    }

    .msg-info{
      width: 220px;
      //height: 44px;
      border-radius: 4px;
      background-color: #fdfbc3;
      border: solid 1px #f8cf46;
      //margin-bottom: 30px;
      display: flex;
      align-items: center;
      margin-left: 3px;
      padding: 13px 0px;

      .msg-info-container{
        margin-left: 6px;
        line-height: 1;
        //padding: 16px 0px;
      }

      .icon-warning{
        color: #f8cf46;
        margin-left: 11px;
        font-size: 22px;
      }

      .msg-txt{
        font-size: 11px;
        text-align: left;
        color: #222222;
        white-space: nowrap;
        //margin-left: 6px;
      }

      .link-add{
        font-size: 11px;
        font-weight: bold;
        color: #222222;
        text-decoration: underline;
        display: inline-block;
      }
    }

    &.col-xs-12{
      border-bottom-width: 0px;
    }
  }

  .chart-item-erro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    padding: 0px 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center;

    p{
      font-size: 12px;
      line-height: 1.25;
      text-align: center;
      color: #000000;
      display: inline-table;
    }

    .btn.btn-default.btn-try-again{
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      color: #333333;
      margin-top: 30px;
    }
  }

  .widget {
      position: relative;
      // width:130px;
      background-color: transparent;

    svg{
      transform: rotate(-135deg);
      background: transparent;
    }

    .chart-container{
      position: relative;
      z-index: 999;
    }

    .shadow {
      -webkit-filter: drop-shadow( 0 0 10px 0 rgba(25, 196, 11, 0.2));
      filter: drop-shadow( 0 0 10px 0 rgba(25, 196, 11, 0.2));
    }
  }
}

// Roberta INICIO
.cor__first {
   color: #222222;
}
.cor__second{
  color: #666666;
}
.cor__third{
    color: #999999;
}
.cor__fourth {
  color: #333333;
}
.text-align--center {
  text-align: center;
}

.font_menor{
  font-size: 11px;
}
.success-message-info{
  border-radius: 4px;
  background-color: #dbfdc3;
  border: solid 1px #73e53e;
  padding: 0px 16px;
  height: 44px;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.success-message-info span{
  font-size: 11px;
  text-align: left;
  color: #222222;
  line-height: 2;
}
.material-icons.success-icon {
  font-size: 23px;
  float: left;
  margin-right: 5px;
  // margin-top: -4px;
  color: #4ac114;
}
.pkge-success-icon {
  height: 80px;
  display: block;
  float: left;
  margin-right: 16px;
  margin-top: 10px;
  background: url(../ArquivosEstaticos/MinhaOi/images/icon-loja-servicos.png) no-repeat;
  width: 25px;
}
.material-icons.error-icon {
  font-size: 20px;
  float: left;
  margin-right: 5px;
  margin-top: -3px;
  color: #ff301d;
}
a.btn-transferir-saldo{
  height: 50px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
  border: solid 1px #d3d1d1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #020202;
  margin-top: 10px;
  padding-top: 10px;
}
a.btn-block-transferir-saldo {
  display: block;
  width: 100%;
}
.warn-message{
	border-radius: 4px;
	background-color: #fdfbc3;
	border: solid 1px #f8cf46;
	padding: 15px 16px;
	height: 88px;
	display: block;
	margin-top: 16px;
	color: #313131;
	font-size: 12px;
	text-align: left;
  p:first-child {
    margin-bottom: 10px;
  }
  a {
  	text-decoration: underline;
  	font-weight: 700;
  }
  .material-icons.warn-icon {
  	font-size: 23px;
  	float: left;
  	margin-right: 15px;
  	margin-top: -5px;
  	color: #f8cf46;
  }
}

// Title todas as paginas
.section__title {
  position: relative;
  a {
    font-size: 11px;
  }
  .title-cingapura{
    font-size: 1.5em !important;
    padding-bottom: 12px !important;
    font-weight:bold !important;
    margin-top:44px !important;
    border-bottom: 1px dotted #000000 !important;
  }
  .section__help{
    position: absolute;
    right: 0;
    top: 8px;
    a {
      font-weight:bold;
    }
  }
  a {
    text-decoration: underline;
    color: #000000;
  }
  .material-icons.help-icon {
    font-size: 18px;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
  }
}

// Compra de pacote
span.close-icon{
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
  border: solid 2px #ffffff;
  background-color: #222222;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 28px;
  height: 28px;
  .material-icons.close-icon {
    margin-top: 4px;
    display: block;
    font-weight: 700;
    margin-left: 3px;
    font-size: 18px;
    color: #fff;
  }
}
.section__itensCompraPacote {
  #home-produto .accountContainer p {
    font-weight: normal !important;
  }
  b {
    font-weight: bold;
  }
  .button__comprarPacote {
    display: block;
    width: 90%;
    position: absolute;
    bottom: 20px;
    margin-left: -5px;
    text-transform: uppercase;
    font-size: 11px;
    height: 37px;
    padding-top: 10px;
    color: #020202 !important;
  }
  .box-pacote {
    height: 80px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #dddddd;
    padding: 20px;
    margin-top: 24px;
  }

  .box-pacote .pull-right {
    text-align: right;
  }

  .compra-pacote-cingapura {
    margin-top: 30px;
  }
  .compra-pacote-cingapura p {
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: #666666;
  }

  .compra-pacote-cingapura h5 {
    font-size: 16px;
   font-weight: bold;
   line-height: 1.13;
   text-align: left;
   color: #333333;
   padding-bottom: 15px;
  }

  .compra-pacote-cingapura-voltar {
    margin-top: 30px;
    text-align: center;
  }
  .compra-pacote-cingapura-voltar a{
    text-decoration: underline;
    font-size: 11px;
  }

  .info-pacote-cingapura {
    font-size: 11px;
    line-height: 1.45;
    text-align: left;
    color: #666066;
    margin-top: 60px;
  }

  .info-pacote-cingapura a {
    font-weight: bold;
    color: #333333;
  }

  .item-plano-cingapura {
    min-height: 400px;
    width: 340px;
    /*margin-right: 5px;*/
  }

  .item-plano-cingapura:nth-child(even) {
    float: right;
  }

  .compra-pacote__title {
    border-bottom: solid 1px #777777;
  }
  .phone-cingapura {
    margin-top: 5px;
  }
  .media-consumo-cingapura {
   font-size: 14px;
   line-height: 1.14;
   text-align: right;
   color: #666666;
  }

  .phone-cingapura {
    // font-size: 24px;
    // font-weight: bold;
    // text-align: left;
    // color: #333333;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #333333;
    margin: 0;
   }


  .name-cingapura {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #333333;
    margin: 0;
  }
  .table {
    margin-bottom: 10px;
    .tr__media-consumo {
      display: block;
      margin-bottom: 5px;
    }
  }
  table.table tbody tr td {
    border-top: none;
  }
  .message__warn {
    padding: 0;
    margin: 10px 0 12px 0;
    display: none;
  }
  table.table tbody tr.table__title td {
    border-bottom: 1px solid #ddd;
    height: 46px;
  }
  .table__align--center {
    text-align: center;
  }
  .table__warn {
    border-radius: 4px;
    background-color: #fdfbc3;
    border: solid 1px #f8cf46;
    padding: 10px 10px;
    font-size: 11px;
    text-align: left;
    color: #222222;
    margin-top: -13px;
    margin-bottom: 5px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    width: 100%;
    .material-icons.warn-icon {
      font-size: 23px;
      margin-right: 5px;
      color: #f8cf46;
      float: left;
      line-height: 1.2;
    }
  }
  .table__tr--saldo {
    border: 1px solid #eeeeee;
  }
  .saldo__plano{
    font-size: 32px;
    letter-spacing: 0px;
    text-align: right;
  }
  .saldo__plano.expired {
    color: #d0021b;
  }
  .total__plano {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #999999;
  }
  // .btn-pkg-indisponivel {
  //   padding: 10px 0 !important;
  // }
  .button__PacoteIndisponivel {
    font-size: 11px;
    text-align: left;
    color: #222222;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: solid 1px #dddddd;
    padding: 10px;
    display: block;
    line-height: 1.2;
    position: absolute;
    bottom: 20px;
    margin: 0;
    margin-left: -5px;
    // padding: 0;
    width: 90%;
    .material-icons.info-icon {
      font-size: 22px;
      float: left;
      margin-right: 5px;
      height: 30px;
      margin-top: 10px;
      // margin-top: 3px;
    }
  }
}

// Compra Pacote Escolher internet
.compra-pacote-cingapura  {
  margin-top: 30px;
  p {
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: #666666;
  }
  h5 {
    font-size: 16px;
   font-weight: bold;
   line-height: 1.13;
   text-align: left;
   color: #333333;
   padding-bottom: 15px;
  }
}
.compra-pacote-aviso{
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
  margin: 30px 0;

}
.compra-pacote-cingapura-voltar {
  margin: 30px 0;
  text-align: center;
  a{
   text-decoration: underline;
   font-weight: bold;
   font-size: 11px;
 }
}
.btn-block-compra-pacote-internet {
  display: block;
  width: 230px;
  float: right;
}
.btn-comprar-pacote-internet{
  height: 37px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
  border: solid 1px #d3d1d1;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #020202;
  text-transform: uppercase;
  padding-top: 10px;
}
.box-internet {
  height: 80px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dddddd;
  padding: 18px 20px 0px 16px;
  margin-top: 24px;
  span.title {
    font-size: 16px;
  }
  .pull-right {
    text-align: right;
  }
  .pkge-icon {
    height: 40px;
    display: block;
    float: left;
    margin-right: 16px;
    margin-top: 3px;
    background: url(../ArquivosEstaticos/MinhaOi/images/icon-loja-servicos.png) no-repeat;
    width: 25px;
  }
  .box__pacote--date {
    margin-top: -2px;
    display: block;
  }
}

// Compra Pacote Confirma
.info-pacote-cingapura {
  font-size: 11px;
  line-height: 1.45;
  text-align: center;
  color: #666066;
  margin: 60px 0 30px 0;
  a {
    font-weight: bold !important;
    color: #333333 !important;
  }
}
.btn-confirmar-pacote{
  height: 50px !important;
  border-radius: 4px !important;
  background-image: linear-gradient(to bottom, #fefefe, #e8e8e8) !important;
  border: solid 1px #d3d1d1 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #020202 !important;
  margin-top: 24px !important;
  padding-top: 10px !important;
}
.btn-block-confirmar-pacote {
  display: block !important;
  width: 100% !important;
}

// Compra Pacote Sucesso
.box-internet-sucesso {
  height: 89px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dddddd;
  padding: 16px 16px;
  margin-top: 24px;
  font-size: 16px;
  .pull-right {
    text-align: right;
    margin-top: 5px;
  }
  .col-xs-7 {
    padding: 0px !important;
  }
  .pkge-success-span {
    display: block;
    line-height: 1.13;
  }
}


.section__button {
  .btn-confirmar-pacote{
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
    border: solid 1px #d3d1d1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #020202;
    margin-top: 10px;

  }
  .btn-block-compra-pacote {
    display: block;
    width: 100%;
  }
}
.section__message {
  margin: 20px 0;
  text-align: center;

  a {
    text-decoration: underline;
    color: #000000;
    font-size: 11px;
    &.transferencia{
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
  }
  &.atores-desabilitados {
    margin: -25px 0 0 0;
    a.message-a {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.14;
      text-align: center;
      color: #333333;
    }
  }

}


// Aumentar Internet
.section__itensAumentarInternet {
  #home-produto .accountContainer p {
    font-weight: normal !important;
  }
  b {
    font-weight: bold;
  }
  .button__aumentarInternet {
    display: block;
    width: 90%;
    position: absolute;
    bottom: 20px;
    margin-left: -5px;
    text-transform: uppercase;
    font-size: 11px;
    height: 37px;
    padding-top: 10px;
    color: #020202 !important;
  }
  .box-pacote {
    height: 80px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #dddddd;
    padding: 20px;
    margin-top: 24px;
  }

  .box-pacote .pull-right {
    text-align: right;
  }

  .compra-pacote-cingapura {
    margin-top: 30px;
  }
  .compra-pacote-cingapura p {
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: #666666;
  }

  .compra-pacote-cingapura h5 {
    font-size: 16px;
   font-weight: bold;
   line-height: 1.13;
   text-align: left;
   color: #333333;
   padding-bottom: 15px;
  }

  .compra-pacote-cingapura-voltar {
    margin-top: 30px;
    text-align: center;
  }
  .compra-pacote-cingapura-voltar a{
    text-decoration: underline;
    font-size: 11px;
  }

  .info-pacote-cingapura {
    font-size: 11px;
    line-height: 1.45;
    text-align: left;
    color: #666066;
    margin-top: 60px;
  }

  .info-pacote-cingapura a {
    font-weight: bold;
    color: #333333;
  }

  .item-aumentar-internet {
    min-height: 250px;
    width: 340px;
    /*margin-right: 5px;*/
  }

  .item-aumentar-internet:nth-child(even) {
    float: right;
  }

  .compra-pacote__title {
    border-bottom: solid 1px #777777;
  }
  .phone-cingapura {
    margin-top: 5px;
  }
  .media-consumo-cingapura {
   font-size: 14px;
   line-height: 1.14;
   text-align: right;
   color: #666666;
  }

  .phone-cingapura {
    // font-size: 24px;
    // font-weight: bold;
    // text-align: left;
    // color: #333333;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #333333;
    margin: 0;
   }


  .name-cingapura {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #333333;
    margin: 0;
  }
  .table {
    margin-bottom: 10px;
    .tr__media-consumo {
      display: block;
      margin-bottom: 5px;
    }
  }
  table.table tbody tr td {
    border-top: none;
  }
  .message__warn {
    padding: 0;
    margin: 10px 0 12px 0;
    display: none;
  }
  table.table tbody tr.table__title td {
    border-bottom: 1px solid #ddd;
    height: 46px;
  }
  .table__align--center {
    text-align: center;
  }
  .table__warn {
    border-radius: 4px;
    background-color: #fdfbc3;
    border: solid 1px #f8cf46;
    padding: 10px 10px;
    font-size: 11px;
    text-align: left;
    color: #222222;
    margin-top: -13px;
    margin-bottom: 5px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    width: 100%;
    .material-icons.warn-icon {
      font-size: 23px;
      margin-right: 5px;
      color: #f8cf46;
      float: left;
      line-height: 1.2;
    }
  }
  .table__tr--saldo {
    border: 1px solid #eeeeee;
  }
  .saldo__plano{
    font-size: 32px;
    letter-spacing: 0px;
    text-align: right;
  }
  .saldo__plano.expired {
    color: #d0021b;
  }
  .total__plano {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #999999;
  }
  // .btn-pkg-indisponivel {
  //   padding: 10px 0 !important;
  // }
  .button__PacoteIndisponivel {
    font-size: 11px;
    text-align: left;
    color: #222222;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: solid 1px #dddddd;
    padding: 10px;
    display: block;
    line-height: 1.2;
    position: absolute;
    bottom: 20px;
    margin: 0;
    margin-left: -5px;
    // padding: 0;
    width: 90%;
    .material-icons.info-icon {
      font-size: 22px;
      float: left;
      margin-right: 5px;
      height: 30px;
      margin-top: 10px;
      // margin-top: 3px;
    }
  }
}
.section__message--top {
  color: #333333;
  font-weight: bold;
  margin-top: 24px;

}
.warn-message-info{
  border-radius: 4px;
  background-color: #fdfbc3;
  border: solid 1px #f8cf46;
  padding: 0px 16px;
  height: 44px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  span{
    font-size: 11px;
    text-align: left;
    color: #222222;
  }
  .material-icons.warn-icon {
    font-size: 23px;
    float: left;
    margin-right: 5px;
    // margin-top: -4px;
    color: #f8cf46;
  }
  &.ator-desabilitado {
    border-radius: 4px;
    background-color: #fdfbc3;
    border: solid 1px #f8cf46;
    padding: 0px 16px;
    height: 44px;
    display: flex;
    align-items: center;
    margin-top: 26px;
    span{
      font-size: 11px;
      text-align: left;
      color: #222222;
    }
    .material-icons.warn-icon {
      font-size: 23px;
      float: left;
      margin-right: 5px;
      margin-top: 0px; //icon center
      color: #f8cf46;
    }
  }
}


// Aumentar Internet Escolha
.aumentar-internet-cingapura  {
  margin-top: 30px;
  p {
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: #666666;
  }
  h5 {
    font-size: 16px;
   font-weight: bold;
   line-height: 1.13;
   text-align: left;
   color: #333333;
   padding-bottom: 15px;
  }
}
.aumentar-internet-aviso{
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
  margin: 30px 0;

}
.aumentar-internet-cingapura-voltar {
  margin: 30px 0;
  text-align: center;
  a{
   text-decoration: underline;
   font-weight: bold;
   font-size: 11px;
 }
}
.btn-block-aumentar-internet {
  display: block;
  width: 230px;
  float: right;
}
.btn-aumentar-internet{
  height: 37px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
  border: solid 1px #d3d1d1;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #020202;
  text-transform: uppercase;
  padding-top: 10px;
}
.box-internet {
  height: 80px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dddddd;
  padding: 18px 20px 0px 16px;
  margin-top: 24px;
  span.title {
    font-size: 16px;
  }
  .pull-right {
    text-align: right;
  }
  .pkge-icon {
    height: 40px;
    display: block;
    float: left;
    margin-right: 16px;
    margin-top: 3px;
    background: url(../ArquivosEstaticos/MinhaOi/images/icon-loja-servicos.png) no-repeat;
    width: 25px;
  }
  .box__pacote--date {
    margin-top: -2px;
    display: block;
  }
}

// Aumentar Internet Confirma
.info-pacote-cingapura {
  font-size: 11px;
  line-height: 1.45;
  text-align: center;
  color: #666066;
  margin: 60px 0 30px 0;
  a {
    font-weight: bold !important;
    color: #333333 !important;
  }
}
.btn-confirmar-pacote{
  height: 50px !important;
  border-radius: 4px !important;
  background-image: linear-gradient(to bottom, #fefefe, #e8e8e8) !important;
  border: solid 1px #d3d1d1 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #020202 !important;
  margin-top: 24px !important;
  padding-top: 10px !important;
}
.btn-block-confirmar-pacote {
  display: block !important;
  width: 100% !important;
}

// Aumentar Internet Sucesso
.box-internet-sucesso {
  height: 89px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dddddd;
  padding: 16px 16px;
  margin-top: 24px;
  font-size: 16px;
  .pull-right {
    text-align: right;
    margin-top: 5px;
  }
  .col-xs-7 {
    padding: 0px !important;
  }
  .pkge-success-span {
    display: block;
    line-height: 1.13;
  }
}


.section__button {
  .btn-confirmar-pacote{
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
    border: solid 1px #d3d1d1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #020202;
    margin-top: 10px;

  }
  .btn-block-compra-pacote {
    display: block;
    width: 100%;
  }
}
.section__message {
  margin: 20px 0;
  text-align: center;

  a {
    text-decoration: underline;
    color: #000000;
    font-size: 11px;
    &.transferencia{
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
  }
  &.atores-desabilitados {
    margin: -25px 0 0 0;
    a.message-a {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.14;
      text-align: center;
      color: #333333;
    }
  }

}



// Home Minha OI


  .warn-message.home-minha-oi{
  	border-radius: 4px;
  	background-color: #fdfbc3;
  	border: solid 1px #f8cf46;
  	padding: 15px 16px;
  	height: auto;
  	display: block;
  	margin-top: 16px;
  	color: #313131;
  	font-size: 12px;
  	text-align: left;
    &.primeiro-warn {
      padding: 10px 16px;
    }
    p:first-child {
      margin-bottom: 10px;
    }
    a {
    	text-decoration: underline;
    	font-weight: bold;
    }
    .material-icons.warn-icon {
    	font-size: 23px;
    	float: left;
    	margin-right: 15px;
    	margin-top: 0px;
    	color: #f8cf46;
      height: 50px;
    }
  }
.mais-internet {
  margin-top: 10px;
}

#box-combo .meus-atalhos .btn span.text-align {
	width: 100% !important;
}
#overlay {
  width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 9999;
  top: 0;
  left: 0;
}
.lightbox {
  display: none;
  .modal-ini-minhaoi {
    position: absolute;
    z-index: 9999999;
  	width: 724px;
    height: auto;
    min-height: 408px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.46);
   	color: #000000;
  	padding: 30px;
    // margin: 10% 20%;
  	background-color: #ffffff;
  	border: 25px solid #f9f9f9;
    a.btn.btn-default {
      text-decoration: none !important;
    }
    .parag-modal {
    	width: 157px;
    	margin-left: 35px;
    }
    .obs-modal {
    	width: 157px;
      margin-left: 35px;
      font-size: 13px;
      font-size: 12px;
      margin-top: 55px;
    }
    .obs-modal-last{
      width: 240px !important;
      margin-left: 0 !important;
    }

    &.home-modal-internet {
      .title-modal{
      	font-size: 26px;
        padding-bottom: 5px;
      	font-weight:bold;
      }
    }
    .title-modal{
    	font-size: 30px;
      padding-bottom: 5px;
    	font-weight:bold;
    }

    .title-modal-edit{
    	font-size: 22px;
      padding-bottom: 5px;
    	font-weight:bold;
    }

    .box-modal {
     width: 290px;
     height: 180px;
     border-radius: 3px;
     background-color: #ffffff;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
     border: solid 1px #dddddd;
     padding: 25px 35px 0px 25px;
     text-align: center;
     margin-top: 30px;
    }

    .btn-modal-cingapura {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8));
      background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#e8e8e8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8',GradientType=0 );
      font-weight: bold;
    	font-size: 11px;
    	text-align: center;
    	color: #333;
    	position: absolute;
    	bottom: 35px;
    	display: block;
    	width:190px;
      height: 30px;
      margin-left: 25px;
      top: 78px;
    }
    .btn-modal-cingapura-sva {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8));
      background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#e8e8e8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8',GradientType=0 );
      font-weight: bold;
    	font-size: 11px;
    	text-align: center;
    	color: #333;

    	bottom: 35px;
    	display: block;
    	width:190px;
      height: 30px;
      margin-left: 60px;
    }
    .material-icons.close-icon {
    	margin-top: 4px;
    	display: block;
    	font-weight: bold;
    	margin-left: 3px;
    	font-size: 18px;
    	color: #fff;
      cursor: pointer;
    }

    .form-control {
      width: 200px;
      height: 30px;
    }

    .form-group.adicionais label {
      float: left;
      font-size: 15px;
      text-align: left;
      color: #000000;
      font-weight: normal;
      line-height: 30px;
    }
    .border-modal {
      text-indent: -5000px;
      width: 624px;
      height: 3px;
      border-bottom: solid 1px #dbdbdb;
      margin: 30px 0 40px 0;
    }
    .sva-erro {
      display: flex;
    }

    .parag-modal-produto-erro {
      margin-top: 6px;
    }

    .col-xs-6, .modal-ini-cingapura .col-xs-4 {
      padding-left: 0;
    }
    .sva-itens {
      display: flex;
      flex-wrap: wrap;
      width: 624px;
      .sva-item {
        margin-bottom: 30px;
        width: 200px;
        margin-left: 8px;
        &:nth-child(1), &:nth-child(4) {
          margin-left: 0px;
        }
        &:nth-child(4), &:nth-child(5) {
          margin-bottom: 0px;
        }
        p.sva-title {
          margin-bottom: 16px;
          display: block;
          font-weight: bold;
          font-size: 15px;
          // text-decoration: underline;

        }
        p.parag-modal-produto {
          line-height: 1.3;
          // width: 200px;
        }
      }
    }
  }
  .modal-ini-minhaoi-apelido {
    position: absolute;
    z-index: 9999999;
  	width: 724px;
    height: auto;
    min-height: 408px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.46);
   	color: #000000;
  	padding: 30px;
    // margin: 10% 20%;
  	background-color: #ffffff;
  	border: 25px solid #f9f9f9;
    a.btn.btn-default {
      text-decoration: none !important;
    }
    .parag-modal {
    	width: 157px;
    	margin-left: 35px;
    }
    .title-modal{
    	font-size: 30px;
      padding-bottom: 5px;
    	font-weight:bold;
    }

    .title-modal-edit{
    	font-size: 22px;
      padding-bottom: 5px;
    	font-weight:bold;
    }

    .box-modal {
     width: 290px;
     height: 168px;
     border-radius: 3px;
     background-color: #ffffff;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
     border: solid 1px #dddddd;
     padding: 25px;
     text-align: center;
     margin-top: 30px;
    }

    .btn-modal-cingapura {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8));
      background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#e8e8e8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8',GradientType=0 );
      font-weight: bold;
    	font-size: 11px;
    	text-align: center;
    	color: #333;
    	position: absolute;
    	bottom: 35px;
    	display: block;
    	width:190px;
      height: 30px;
      margin-left: 25px;
    }
    .btn-modal-cingapura-sva {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8));
      background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#e8e8e8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8',GradientType=0 );
      font-weight: bold;
    	font-size: 11px;
    	text-align: center;
    	color: #333;

    	bottom: 35px;
    	display: block;
    	width:190px;
      height: 30px;
      margin-left: 60px;
    }
    .material-icons.close-icon {
    	margin-top: 4px;
    	display: block;
    	font-weight: bold;
    	margin-left: 3px;
    	font-size: 18px;
    	color: #fff;
      cursor: pointer;
    }

    .form-control {
      width: 200px;
      height: 30px;
    }

    .form-group.adicionais label {
      float: left;
      font-size: 15px;
      text-align: left;
      color: #000000;
      font-weight: normal;
      line-height: 30px;
    }
    .border-modal {
      text-indent: -5000px;
      width: 624px;
      height: 3px;
      border-bottom: solid 1px #dbdbdb;
      margin: 30px 0 40px 0;
    }
    .sva-erro {
      display: flex;
    }

    .parag-modal-produto-erro {
      margin-top: 6px;
    }

    .col-xs-6, .modal-ini-cingapura .col-xs-4 {
      padding-left: 0;
    }
    .sva-itens {
      display: flex;
      flex-wrap: wrap;
      width: 624px;
      .sva-item {
        margin-bottom: 30px;
        width: 200px;
        margin-left: 8px;
        &:nth-child(1), &:nth-child(4) {
          margin-left: 0px;
        }
        &:nth-child(4), &:nth-child(5) {
          margin-bottom: 0px;
        }
        p.sva-title {
          margin-bottom: 16px;
          display: block;
          font-weight: bold;
          font-size: 15px;
          // text-decoration: underline;

        }
        p.parag-modal-produto {
          line-height: 1.3;
          // width: 200px;
        }
      }
    }
  }

}


// Redistribuição do Saldo
.error-message-redistribuir {
  text-align: center;
  padding: 160px 120px;
  span a {
    text-decoration: underline;
  }
}
.section__message-1ator {
  margin: 80px 0 100px 0;
  text-align: center;
  a{
    text-decoration: underline;
    font-weight: bold;
  }
  .section__message--title {
    font-size:24px;
    font-weight:bold;
    margin: 20px 0 27px 0;
  }
  .section__message--text {
    width: 500px;
    display: block;
    margin-left: 100px;
    font-size: 15px;
  }
}

#boxes__redistribuir {
  display: flex;
}
.box__redistribuir {
  //width: 100%; FIX IE
  flex: 1; //FIX IE
  height: 118px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dddddd;
  text-align: center;
  margin-right: 7px;
  position: relative;
  overflow: hidden;
}
.box__redistribuir:last-child {
  margin-right: 0;
}
.box__redistribuir p {
  margin-top: 38px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 4px;
}
.box__redistribuir span {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.08;
}
.box__redistribuir p.redistribuir__sucesso {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: normal;
  letter-spacing: -0.5px;
}
.box__redistribuir span.redistribuir__sucesso {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.08;
  margin-top: 40px;
  display: block;
}
.box__redistribuir.color-1:before {
  background-color: #fc9318;
  height: 8px;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.box__redistribuir.color-2:before {
   background-color: #f14c3c;
   height: 8px;
   content: "";
   position: absolute;
   width: 100%;
   left: 0;
}
.box__redistribuir.color-3:before {
  background-color: #d82481;
  height: 8px;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.box__redistribuir.color-4:before {
  background-color: #aa28e6;
  height: 8px;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.box__redistribuir.color-5:before {
  background-color:#546efb;
  height: 8px;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
 }
.buttons__redistribuir {
   display: flex;
   border-top: 1px solid #eeeeee;
   text-align: center;
   height: 40px;
   margin: 40px -15px 0 -15px;

   .col-xs-6{
     padding-right: 0px;
     padding-left: 0px;
   }
}
.buttons__redistribuir a{
   text-decoration: underline;
   padding-top: 10px;
   display: block;
   font-size: 11px;
   font-weight: bold;
   line-height: 1.45;
}
.buttons__redistribuir--border {
   color: transparent;
   border-left: 1px solid #eeeeee;
   width: 1px;
}
 .warn-message-info-redistribuicao{
   border-radius: 4px;
   background-color: #fdfbc3;
   border: solid 1px #f8cf46;
   padding: 12px 16px;
    height: 86px;
   display: block;
   align-items: center;
   margin-top: 16px;
   p.msg__redistribuicao {
     width: 100%;
     display: block;
   }
   span{
     font-size: 12px;
     text-align: left;
     color: #222222;
   }
   .material-icons.warn-icon {
     font-size: 23px;
     float: left;
     margin-right: 5px;
     margin-top: 0px;
     color: #f8cf46;
   }
   .btn-block-redistribuicao{
     width: 102px;
     height: 27px;
     border-radius: 3px;
     background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
     border: solid 1px #d3d1d1;
     font-size: 10px;
     font-weight: bold;
     margin-top: 10px;
     padding-top: 5px;
   }
 }
 p.message__top--small {
   float: left;
   font-size: 16px;
 }
 .franquia-total {
   border: solid 1px rgba(144,144,144,1);
   padding: 5px;
   text-transform: uppercase;
   font-size: 11px;
   border-radius: 2px;
 }

 .slider__redistribuir--agendada {
   background-color: #fcfcfc;
   border-top: solid 1px #eeeeee;
   border-bottom: solid 1px #eeeeee;
   padding: 40px 16px 24px 16px;
   margin: 80px -15px 40px -15px;
 }

 .c-1-color {
   background-color: #fc9318;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
  }
 .c-2-color { background-color: #f14c3c }
 .c-3-color {  background-color: #d82481 }
 .c-4-color {background-color: #aa28e6 }
 .c-5-color {
   background-color: #546efb;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
 }
 #my-slider-ini {
   display: flex;
   margin-bottom: 40px;
 }
 #my-slider-ini>div {
   width: 145px;
   height: 54px;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   line-height: 1.13;
   color: #ffffff;
   text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
   padding-top: 17px;
 }

 #my-slider-ini>div.color-1 {
   background-color: #fc9318;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
 }
 #my-slider-ini>div.color-2 {
 background-color: #f14c3c;

 }
 #my-slider-ini>div.color-3 {
 background-color:#d82481;

 }
 #my-slider-ini>div.color-4 {
 background-color: #aa28e6;

 }
 #my-slider-ini>div.color-5 {
   background-color: #546efb;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
 }
 .slider__redistribuir {
   background-color: #fcfcfc;
   border-top: solid 1px #eeeeee;
   border-bottom: solid 1px #eeeeee;
   padding: 40px 16px;
   margin: 80px -15px 40px -15px;
 }
 a.btn-transferir-saldo{
   height: 50px;
   border-radius: 4px;
   background-image: linear-gradient(to bottom, #fefefe, #e8e8e8);
   border: solid 1px #d3d1d1;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   color: #020202;
   margin-top: 10px;
   padding-top: 10px;
 }
 a.btn-block-transferir-saldo {
   display: block;
   width: 100%;
 }
 #my-slider {
   margin-bottom: 40px;
 }
 .slider__redistribuir--confirmar {
   background-color: #fcfcfc;
   border-top: solid 1px #eeeeee;
   border-bottom: solid 1px #eeeeee;
   padding: 40px 16px 0px 16px;
   margin: 80px -15px 40px -15px;
 }
 .noUi-connect{
   text-align:center;
   color: #ffffff;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
   font-size: 16px;
   font-weight: bold;
   line-height: 1.13;
   padding-top: 17px;
 }
 .noUi-target {
   border:none;
   box-shadow: none;
 }
 .noUi-horizontal {
   height: 54px;
 }
 .noUi-horizontal .noUi-handle {
   width: 18px;
   left: 0px;
   top: -12px;
   height: 78px;
   border-radius: 4px;
   background-image: linear-gradient(to bottom, #fdfdfd, #e9e9e9);
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
   border: solid 1px #cccccc;
   /*display: none;*/
 }
 .noUi-handle:after, .noUi-handle:before {
   background: none;
 }
 .slider__redistribuir--sucesso {
   background-color: #fcfcfc;
   border-top: solid 1px #eeeeee;
   border-bottom: solid 1px #eeeeee;
   padding: 40px 16px;
   margin: 32px -15px 40px -15px;
 }
.protocolo__redistribuicao {
  color: #666066;
  font-size: 11px;
  line-height: 1.45;
  text-align: left;
  margin-top: 8px;
}
p.title-message {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.08;
  color: #333333;
}
span.title-message {
  font-size: 15px;
  color: #000000;
  width: 450px;
  display: block;
  margin-top: 20px;
}

.redistribuicao__modal {
  .modal-content {
    width: 824px;
    height: 616px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.46);
   	color: #000000;
  	padding: 30px;
  	background-color: #ffffff;
  	border: 25px solid #f9f9f9;
  	position: relative;
  }
  .modal-sm {
      width: 724px;
  }
  .modal-header,.modal-footer {
    border: none;
  }
  .modal-header .close {
       margin-top: 0px;
      position: absolute;
      right: -38px;
      top: -38px;
      background: #222222;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      color: #fff;
      text-shadow: none;
      font-weight: normal;
      opacity: 1;
      border: 2px solid #fff;
      padding-top: -2px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
      font-size: 18px;
      line-height: 1;
      /* text-align: center; */
      /* vertical-align: middle; */
  }
  .modal-footer {
    text-align: center;
    margin-top: 30px;
    a {
      font-size: 11px !important;
      font-weight: bold !important;
      text-align: center !important;
      color: #333333 !important;
      width: 190px !important;
      text-transform: uppercase !important;
      padding-top: 4px !important;
    }
  }
  .modal__title {
    font-size: 30px !important;
    font-weight: bold !important;
    letter-spacing: -0.5px !important;
    text-align: left !important;
    color: #000000 !important;
  }
  #my-slider-fim {
    display: flex;
    margin-bottom: 70px;
    margin-top: 0px;
  }
  #my-slider-fim>div {
    height: 54px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    color: #ffffff;
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
    padding-top: 17px;
  }

  #my-slider-fim>div.color-1 {
    width: 145px;
    background-color: #fc9318;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    a.tooltips--bottom span {
      margin: 50px 0 0 -18px;
      visibility: hidden;
    }
  }
  #my-slider-fim>div.color-2 {
    width: 278px;
    background-color: #f14c3c;
    a.tooltips--top span {
      margin: -75px 0 0 -19px;
      visibility: hidden;
    }
  }
  #my-slider-fim>div.color-3 {
    background-color: #d82481;
    width: 8px;
    a.tooltips--bottom span {
      margin: 50px 0 0 -23px;
    }
  }
  #my-slider-fim>div.color-4 {
    background-color: #aa28e6;
    width: 39px;
    a.tooltips--top span {
      margin: -75px 0 0 -24px;
      &.tooltip-centro {
        padding-top: 15px;
      }
    }
  }
  #my-slider-fim>div.color-5 {
    width: 254px;
    background-color: #546efb;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    a.tooltips--bottom span {
      margin: 50px 0 0 -22px;
      visibility: hidden;
    }
  }
  a.tooltips--top, a.tooltips--bottom  {
    position: relative;
    display: inline;
    text-shadow: none;

  }
  a.tooltips--top span, a.tooltips--bottom span {
    position: absolute;
    width: 46px;
    height: 46px;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.93;
    letter-spacing: -0.5px;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    padding-top: 8px;
  }
  a.tooltips--top span:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 0; height: 0;
    border-top: 10px solid #DDDDDD;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }
  a.tooltips--top span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 9px solid #FFFFFF;
    border-right: 9px solid transparent;
    border-left: 8px solid transparent;
  }

  a.tooltips--bottom span:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    width: 0; height: 0;
    border-bottom: 10px solid #DDDDDD;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }
  a.tooltips--bottom span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 9px solid #FFFFFF;
    border-right: 9px solid transparent;
    border-left: 8px solid transparent;
  }
}



//multirange init
$multiRangeHeight:100px;

.multirange{
  width: 100%;
  margin-bottom: 5rem;
  height: 100px;

  .c-range-container{
    display: block;
    position: relative;
  }

  .c-tooltip-info-redis{
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: solid 1px #dddddd;
    position: absolute;
    background-color: #fcfcfc;
    border: solid 1px #eeeeee;
    border-radius: 4px;


    .content{
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: -0.5px;
      text-align: center;
      color: #333333;
      white-space: nowrap;
    }


    &.up{
      top: -4em;

      .arrow{
        position: absolute;
        top: 35px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;

        &:after{
          content: "";
          position: absolute;
          top: -9px;
          z-index: -1;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: #DDD transparent transparent transparent;
        }
      }

    }

    &.down{
      top: 3.2em;

      .arrow{
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;

        &:after{
          content: "";
          position: absolute;
          top: -11px;
          left: 50%;
          z-index: -1;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent #DDD transparent;
        }
      }

    }
  }

  #range-container{
    display: block;
    width: 100%;
    color: blue;
    position: relative;
  }

  #range{
    position: absolute;
    height: 54px;
    width: 100%;
    cursor: pointer;
    //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 4px;
    //border: 0.2px solid #010101;
    top: 21px;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .color-0{
      height: 100%;
      background-color: #fc9318;
    }

    .color-1{
      height: 100%;
      background-color: #f14c3c;
    }

    .color-2{
      height: 100%;
      background-color: #d82481;
    }

    .color-3{
      height: 100%;
      background-color: #aa28e6;
    }

    .color-4{
      background-color: #546efb;
    }
  }
  &.ini{
    .range-thumb {
      display: none;
    }
  }
  .range-thumb{
    position: absolute;
    top: 10px;
    z-index: 13;
    height: 78px;
    width: 18px; //the thumb width
    margin-top: 0px;
    z-index: 9999;
    border-radius: 4px;
    background: url(../ArquivosEstaticos/MinhaOi/images/combined-shape.png) no-repeat, linear-gradient(to bottom, #fdfdfd, #e9e9e9);
    background-position: 5px 25px, center center;
    background-image: url(../ArquivosEstaticos/MinhaOi/images/combined-shape.png) no-repeat;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: solid 1px #cccccc;
  }

  input[type="range"][multiple] {
    display: block;
    height: $multiRangeHeight;
    margin: 0;
    display: none;
    //disable event inside the slider
    pointer-events: none;
    //margin: 0px 100px;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%;
    background: transparent;
    & + input[type="range"][multiple] {
      margin-top: $multiRangeHeight * -1;
    }
    outline: none;
    z-index: 12;
    position: relative;
  }

  input[type=range]::-moz-focus-outer {
    border: 0;
    }

  @mixin multirange-thumb {
    pointer-events: all;
  }

  //track
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 80px;
    //cursor: pointer;
    background: transparent;
  }

  input[type=range]::-moz-range-track {
    background: transparent;
  }

  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  //thumb
  input[type="range"]::-webkit-slider-thumb {
    @include multirange-thumb;

    position: relative;
    -webkit-appearance: none;
    height: 78px;
    width: 18px; //the thumb width
    margin-top: 0px;
    z-index: 9999;
    border-radius: 4px;
    background: url(../ArquivosEstaticos/MinhaOi/images/combined-shape.png) no-repeat, linear-gradient(to bottom, #fdfdfd, #e9e9e9);
    background-position: 5px 25px, center center;
    background-image: url(../ArquivosEstaticos/MinhaOi/images/combined-shape.png) no-repeat;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: solid 1px #cccccc;
  }

  input[type=range]::-moz-range-thumb {
    @include multirange-thumb;

    position: relative;
    -webkit-appearance: none;
    height: 78px;
    width: 18px; //the thumb width
    margin-top: 0px;
    z-index: 9999;
    border-radius: 4px;
    background: url(../ArquivosEstaticos/MinhaOi/images/combined-shape.png) no-repeat, linear-gradient(to bottom, #fdfdfd, #e9e9e9);
    background-position: 5px 25px, center center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: solid 1px #cccccc;
  }

  input[type=range]::-ms-thumb {
    @include multirange-thumb;

    position: relative;
    -webkit-appearance: none;
    height: 78px;
    width: 18px; //the thumb width
    margin-top: 0px;
    z-index: 9999;
    border-radius: 4px;
    background: url(../ArquivosEstaticos/MinhaOi/images/combined-shape.png) no-repeat, linear-gradient(to bottom, #fdfdfd, #e9e9e9);
    background-position: 5px 25px, center center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: solid 1px #cccccc;
  }

  input[type=range]::-ms-fill-lower {
    background: transparent;
  }
  input[type=range]::-ms-fill-upper {
    background: transparent;
  }

  .c-label-container{
    position: absolute;
    width: 100%;
    font-size: 2rem;
    height: 2ex;
    z-index: 12;
    top: 3.8rem;

    .label-item{
      position: absolute;
      font-size: 1rem;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.13;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
    }

    .label-number{
      display: inline-block;
      font-size: 1.5rem;
      //width: 7ch;
      text-align: center;
      white-space: nowrap;
    }
  }

  .info-user-container{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    .userinfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & *{
          margin-bottom: 1rem;
        }

        .username{ font-weight: bold;}
        .userphone{}
        .uservalue{
          display: inline-block;
          width: 8ch;
          font-weight: bold;
          height: 0px;
        }
    }

  }
}
// .redistribuicao__modal {
//   .modal-dialog.modal-sm {
//         margin: 10% 18%;
//   }
// }
.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.account-saldoAtual table {
  margin-top:-6px;
  margin-bottom: 0 !important;
}
.nome-item-novo {
  padding: 10px 0 5px 20px;
  background-color: #f3f3f3;
}
.novo-voz {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 68px;
  border-top: 1px solid #ddd;
  p {
    font-size: 12px;
    color: #3a3636;
    margin: 0;
  }
  span {
    display: block;
    color: #332f2f;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
  order: 2;
  }
}
.message__warn-home {
  border-radius: 4px;
  background-color: #fdfbc3;
  border: solid 1px #f8cf46;
  padding: 0px 16px !important;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom:8px;
  font-size: 11px;
    .material-icons.warn-icon {
      font-size: 23px;
      float: left;
      margin-right: 5px;
      color: #f8cf46;
    }
    
}

.edit-apelido {
  display: flex;
  cursor: pointer;
  span{
    font-size: 11px;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.45;
    text-align: left;
    color: #333333;
  }
  .material-icons {
    color: #fff;
    background: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 5px;
    padding-top: 2px;
    padding-left: 2px;
  }
}


.call-modal {
  font-size: 13px !important;
  padding: 50px 10px 40px 10px !important;
  .modal-text{
    padding: 0 10px;

    p.mais-internet{
      a{
        font-weight: bold;
        text-decoration: underline;
      }
      &:hover{
        font-weight: bold;
        color: #000 ;
        text-decoration: underline;
      }
    }
  }
}

.saldo-parcial{
  margin-top: 40px;
}

.tool-opacity {
  opacity: 0;
}

.phone {
  position: relative;
  display: inline;
}
.edit-posicao {
  position: absolute;
  width:140px;
  color: #FFFF29;
  background: #FFFFFF;
  height: 30px;
  text-align: center;
  border-radius: 2px;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 2px 2px);
  top: -22px;
  padding: 6px 20px;
}
.edit-posicao:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
   //box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);

}
.edit-posicao:hover {
  opacity: 1;
  top: -22px;
  z-index: 999;
}

.success-message-info.editar-apelido {
  padding: 0 16px !important;
  margin-bottom: 8px;
}

.adicionar-apelido {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65px;
  margin-bottom: 14px;
  .item-apelido {
    display: flex;
    flex-direction: row;
    align-items: center;
    span.color-apelido {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      color: transparent;
      display: block;
      margin-right: 37px;
    }
    .group {
      position:relative;
    }
    input {
      font-size:18px;
      display:block;
      border-radius: 2px;
      border: solid 1px #d4d4d4;
      width: 470px;
      height: 65px;
      vertical-align: top;
      padding-top: 25px;
      padding-left: 23px;
    }
    input:focus { outline:none; }
    label {
      color:#999;
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:20px;
      top:20px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    input:focus ~ label, input:valid ~ label {
      left:5px;
      top:27px;
      -webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
      transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
    }
  }
}
.apelido-container {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #313131;
  margin: 20px 0px;
  display: none;
  // position: absolute;
}
.apelido-block {
  display: block !important;
  position: absolute;
  top: -10px;
}
.phone-apelido {
  font-size: 11px;
  text-align: left;
  color: #909090;
}
.phone-edit-apelido {
  font-size: 11px !important;
  text-align: left !important;
  color: #909090 !important;
  margin-top: 25px !important;
  font-weight: normal !important;
}
button.save-apelido {
  width: 470px;
  height: 50px;
  margin: 0 auto;
  margin-left: 110px;
}
// .success-message-info.editar-apelido {
//   display: none;
// }
#value-box-apelido-0 {
  .color-apelido {
    background: #fc9318;
  }
}
#value-box-apelido-1 {
  .color-apelido {
    background: #f14c3c;
  }
}
#value-box-apelido-2 {
  .color-apelido {
    background: #d82481;
  }
}
#value-box-apelido-3 {
  .color-apelido {
    background: #aa28e6;
  }
}
#value-box-apelido-4 {
  .color-apelido {
    background: #546efb;
  }
}

.lightbox.light-edit-apelido {
  display: none;
  .modal-ini-minhaoi {
    position: fixed;
    z-index: 9999999;
  	width: 724px;
    height: auto;
    min-height: 408px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.46);
   	color: #000000;
  	padding: 30px;
    // margin: 10% 20%;
  	background-color: #ffffff;
  	border: 25px solid #f9f9f9;
    a.btn.btn-default {
      text-decoration: none !important;
    }
    .parag-modal {
    	width: 157px;
    	margin-left: 35px;
    }
    .title-modal{
    	font-size: 30px;
      padding-bottom: 5px;
    	font-weight:bold;
    }

    .title-modal-edit{
    	font-size: 22px;
      padding-bottom: 5px;
    	font-weight:bold;
    }

    .box-modal {
     width: 290px;
     height: 168px;
     border-radius: 3px;
     background-color: #ffffff;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
     border: solid 1px #dddddd;
     padding: 25px;
     text-align: center;
     margin-top: 30px;
    }

    .btn-modal-cingapura {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8));
      background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#e8e8e8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8',GradientType=0 );
      font-weight: bold;
    	font-size: 11px;
    	text-align: center;
    	color: #333;
    	position: absolute;
    	bottom: 35px;
    	display: block;
    	width:190px;
      height: 30px;
      margin-left: 25px;
    }
    .btn-modal-cingapura-sva {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      background: #fefefe;
      background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8));
      background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%);
      background: linear-gradient(to bottom, #fefefe 0%,#e8e8e8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8',GradientType=0 );
      font-weight: bold;
    	font-size: 11px;
    	text-align: center;
    	color: #333;

    	bottom: 35px;
    	display: block;
    	width:190px;
      height: 30px;
      margin-left: 60px;
    }
    .material-icons.close-icon {
    	margin-top: 4px;
    	display: block;
    	font-weight: bold;
    	margin-left: 3px;
    	font-size: 18px;
    	color: #fff;
      cursor: pointer;
    }

    .form-control {
      width: 200px;
      height: 30px;
    }

    .form-group.adicionais label {
      float: left;
      font-size: 15px;
      text-align: left;
      color: #000000;
      font-weight: normal;
      line-height: 30px;
    }
    .border-modal {
      text-indent: -5000px;
      width: 624px;
      height: 3px;
      border-bottom: solid 1px #dbdbdb;
      margin: 30px 0 40px 0;
    }
    .sva-erro {
      display: flex;
    }

    .parag-modal-produto-erro {
      margin-top: 6px;
    }

    .col-xs-6, .modal-ini-cingapura .col-xs-4 {
      padding-left: 0;
    }
    .sva-itens {
      display: flex;
      flex-wrap: wrap;
      width: 624px;
      .sva-item {
        margin-bottom: 30px;
        width: 200px;
        margin-left: 8px;
        &:nth-child(1), &:nth-child(4) {
          margin-left: 0px;
        }
        &:nth-child(4), &:nth-child(5) {
          margin-bottom: 0px;
        }
        p.sva-title {
          margin-bottom: 16px;
          display: block;
          font-weight: bold;
          font-size: 15px;
          // text-decoration: underline;

        }
        p.parag-modal-produto {
          line-height: 1.3;
          // width: 200px;
        }
      }
    }
  }

}

.gradiente-saldo {
  margin: 20px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(135deg, #00d213 0%, #00baf7  100%);
  &::after {
    width: 94%;
    height: 94%;
    position: absolute;
    top: 2.9%;
    left: 2.9%;
    background: #fff;
    border-radius: 50%;
    content: '';
  }
}

// .gradiente-saldo:hover {
//   margin: 20px auto;
//   width: 160px;
//   height: 160px;
//   border-radius: 50%;
//   position: relative;
//   box-sizing: border-box;
//   background-image: linear-gradient(135deg, #00d213 0%, #00baf7  100%);
//   box-shadow: 0px 0px 5px 1px #DDDDDD;
//   -webkit-box-shadow: 0px 0px 5px 1px #DDDDDD;
//   -moz-box-shadow: 0px 0px 5px 1px #DDDDDD;
//   -o-box-shadow: 0px 0px 5px 1px #DDDDDD;
//   &::after {
//     width: 92%;
//     height: 92%;
//     position: absolute;
//     top: 4%;
//     left: 4%;
//     background: #fff;
//     border-radius: 50%;
//     content: '';
//   }
// }

.gradiente-esgotado {
  margin: 20px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(-270deg, #fe6b03 0%, #e33465 100%);
  &::after {
    width: 94%;
    height: 94%;
    position: absolute;
    top: 2.9%;
    left: 2.9%;
    background: #fff;
    border-radius: 50%;
    content: '';
  }
}

// .gradiente-esgotado:hover {
//   margin: 20px auto;
//   width: 160px;
//   height: 160px;
//   border-radius: 50%;
//   position: relative;
//   box-sizing: border-box;
//   background-image: linear-gradient(135deg, #fe6b03 0%, #e33465 100%);
//   box-shadow: 0px 0px 5px 1px #DDDDDD;
//   -webkit-box-shadow: 0px 0px 5px 1px #DDDDDD;
//   -moz-box-shadow: 0px 0px 5px 1px #DDDDDD;
//   -o-box-shadow: 0px 0px 5px 1px #DDDDDD;
//   &::after {
//     width: 92%;
//     height: 92%;
//     position: absolute;
//     top: 4%;
//     left: 4%;
//     background: #fff;
//     border-radius: 50%;
//     content: '';
//   }
// }

.gradiente-media {
  margin: 20px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(-270deg, #ffd700 0%, #f8562c   100%);
  &::after {
    width: 94%;
    height: 94%;
    position: absolute;
    top: 2.9%;
    left: 2.9%;
    background: #fff;
    border-radius: 50%;
    content: '';
  }
}

.border-hover-ok {
  box-shadow: 0px 0px 5px 1px #DDDDDD;
  -webkit-box-shadow: 0px 0px 5px 1px #DDDDDD;
  -moz-box-shadow: 0px 0px 5px 1px #DDDDDD;
  -o-box-shadow: 0px 0px 5px 1px #DDDDDD;
  &::after {
    width: 93%;
    height: 93%;
    position: absolute;
    top: 3.5%;
    left: 3.5%;
    background: #fff;
    border-radius: 50%;
    content: '';
  }
}
.edit-apelido {
  display: none;
}

#home-produto.cingapura .accountContainer p, .item-plano-cingapura p, .item-aumentar-internet p {
    font-weight: normal !important;

}

.hide-box{
  display: none;
}

.show-box{
  display: block;
}


@import "transferencia.scss";
