// Transferência Saldo de internet

.teste-opacity{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.avulso:hover .teste-opacity {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.warn-message-info.ator-desabilitado{
  transition: opacity 1s;

  &.active{
    visibility: visible;
    transition: opacity 1s;
    opacity: 1;
  }

  &.nactive{
    display: block;
    width: 692px;
    height: 44px;
    transition: opacity 1s;
    opacity: 0;
  }
}

.transferencia-arrows{
  li{
    text-decoration: none !important;

    &:hover,
    &:active,
    &:focus{
      text-decoration: none !important;
    }
  }
}

a.btn-right ,
a.btn-left{
  text-decoration: none;

  &:hover,
  &:active,
  &:focus{
    text-decoration: none !important;
  }
}

@mixin background-transition(){
  transition: background-color 300ms, border-color 300ms;
  transition-timing-function: ease-in-out;
}

.right-container-avulso,
.left-container-avulso{
  // width: 45% !important;
  @include background-transition();
  background-color: white;

  .panel-heading{
    @include background-transition();
  }

  .panel-heading__blockNumber{
    .tooltip-inner{
      max-width: none;
      background-color: #000;
      border-radius: 4px;
      width: 237px;
      font-size: 11px;
      padding: 10px;
      text-align: left;
      color: #222222;
      background-color: #fdfbc3;
      border: solid 1px #f8cf46;
      margin-top: -2px;
    }

    .tooltip-arrow{
      bottom: -4px;
      left: 50%;
      margin-left: -10px;
      border-width: 10px 10px 0;
      border-top-color: #fdfbc3;
    }
  }

  .panel-heading__itemQtyAvulso{
    height: 20px;
  }

  &.nactive{
    background-color: #f2f2f2 !important;
    color: #999999 !important;

    .panel-heading__itemName{
      color: #999999 !important;
    }

    .panel-heading__itemQty{
      background-color: transparent !important;
      color: #999999 !important;
    }
  }//end nactive

  &.animate{

    background-color: #ca1b73;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    .panel-heading{
      background-color: #B91665;
      color: white;
      border-color: #B91665;
    }

    .panel-heading__itemQtyAvulso,
    .panel-heading__blockNumber,
    .panel-heading__itemNumber{
      color: white !important;
      opacity: 0.5 !important;
    }

    .panel-heading__itemName{
      color: white;
    }

    .panel-body{
      background-color: transparent;
    }

    .panel-heading__itemQty{
      color: white;
    }

  } //end animate
}

.white-color {
  color: #ffffff !important;
}
.white-color-opacity {
  color: #ffffff !important;
  opacity: 0.5;
}

.show-less {
  display: none !important;
}


.section__itensCingapura {

  form {
    margin-top: 24px;
    display: flex;
    height: 220px;
    justify-content: space-between;
    .add-ator {
      width: 100%;
      height: 190px;
      position: absolute;
      left: 0;
      opacity: 0;
      cursor: pointer;
      display: block;
      z-index: 9999;
      // opacity: 0;
    }
    .active {
      color: #ffffff;
    }
    .nactive {
      background-color: #f2f2f2 !important;
      color: #999999 !important;
    }
    .panel {
      margin: 0 10px 0 0;
      height: 190px;
      position: relative;
      box-sizing: border-box;
      padding: 1px;
      background-color: #f5f5f5;
      // flex-grow: 1;
      width: 25%;
      &.active {
        background-color: rgba(202,27,115,0.9);
        color: #ffffff;
        &>.panel-heading .panel-heading__itemNumber {
          color: #ffffff !important;
          opacity: 0.5;
        }
        &>.panel-body {
          .panel-heading__itemQtyAvulso {
            color: #ffffff !important;
            opacity: 0.5;
            }
          .panel-heading__itemQty--lower, .panel-heading__itemQty {
            color: #ffffff !important;
            }
        }
      }
      &:hover {
        border: 2px solid #ca1b73;
        padding: 0px;

      }
      &.nactive:hover {
        border: solid 1px #dddddd;
      }
    }
    .panel-heading {
        padding:25px 10px;
        height: 82px;
        width: 100%;
        background-image: none;
        border:none;
        border-bottom: solid 1px #dddddd;
        border-radius: initial;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .panel-heading__itemNumber {
          margin-top: -13px;
          display: block;
        }
        &.active {
          background-color: #ca1b73;
          border: 1px solid #ca1b73;
          color: #ffffff;
        }
    }
    .panel-body {
        padding:25px 5px;
        height: 104px;
        width: 100%;
        background: #fff;
        &.active {
          background: transparent;
        }
    }
    .low-qty {
      color: #d0021b;
    }
    p {
      font-size: 14px;
      line-height: 1.29;
    }
    p.panel-heading__itemQty {
      font-size: 24px;
      font-weight: bold;
    }
    span.panel-heading__itemQtyAvulso {
      margin-top: -10px;
      display: block;
      color: #909090;
      font-size: 10px;
    }
    p.panel-heading__itemName {
      font-weight: bold;
    }
  }
}
.section__button {
  text-align: center;
  .btn-transferir-saldo{
    height: 50px !important;
    border-radius: 4px !important;
    background-image: linear-gradient(to bottom, #fefefe, #e8e8e8) !important;
    border: solid 1px #d3d1d1 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #020202 !important;
    margin-top: 10px !important;
  }
  .btn-block-transferir-saldo {
    display: block !important;
    width: 100% !important;
  }
  a {
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 1.14 !important;
    text-align: center !important;
    color: #333333 !important;

    margin-top: 24px !important;
    display: block !important;
  }
}
.transferencia__protocolo {
  color: #666066 !important;
  font-size: 11px !important;
  margin: 30px 0 80px 0;
}
.dipnone {
  display: none;
}
.section--button {
  margin: 40px 0 100px 0 !important;
  .btn-confirmar-pacote{
    height: 50px !important;
    border-radius: 4px !important;
    background-image: linear-gradient(to bottom, #fefefe, #e8e8e8) !important;
    border: solid 1px #d3d1d1 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #020202 !important;
    margin-top: 10px !important;

  }
  .btn-block-compra-pacote {
    display: block !important;
    width: 100% !important;
  }
}

.section__transferencia--selecionados {
  margin: 24px 0 40px 0;
  display: flex;
  justify-content: space-between;
  .col-xs-5 {
    padding: 0;
  }
  .panel{
    height: 270px;
    &.left-block {
      margin-right: 10px;
    }
  }
  .panel-body {
    padding: 60px 10px;
  }
  .panel-heading {
    border-radius: 0;
    background-image: none;
    padding: 17px 15px;
  }
  .panel-heading__itemQtyAvulso {
    margin-top: -20px;
    display: block;
  }
  .panel-heading__itemName{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.08;
    color: #333333;
    margin: 0;
  }
  .panel-heading__itemQty {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #222222;
    .panel-heading__itemQty--lower {
      font-size: 24px;
      margin-left: -10px;
    }
  }
  .panel-heading__blockNumber {
    font-size: 11px;
    color: #222222;
    display: flex;
    // margin-left: 50px;
    margin-top: 17px;
    cursor: pointer;
    align-items: center;
  }
  .material-icons.help-icon--grey {
    font-size: 24px;
    margin-right: 5px;
    color: #000000;
  }
}
.section__message {
  a {
   font-weight: bold;
   &.transferir {
     margin-bottom: 60px;
     display: block;
   }
 }
 .second-info-transf {
   margin-top: 24px;
 }
}
.section__message a, .section__title a{
  text-decoration: underline;
  color: #000000;
}
.cor__second a {
  font-size: 14px;
}
.section__escolherItem {
  color: #333333;
  font-weight: 700;
  margin-top: 24px;
  font-size: 16px;
}
ul.transferencia-arrows {
  padding: 0;
  margin: 95px 10px 0 18px;
  li{
    list-style: none;
    a:hover {
     color:transparent !important;
    }
  }
  .arrow-icon {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #fdfdfd, #e9e9e9);
    border: solid 1px #cccccc;
    /*text-indent: -5000px;*/
    display: block;
    margin-bottom: 16px;
    color: #999999;
    font-size: 48px;
    &:hover {
      color: #ca1b73;
    }
  }
}
.nactive {
  background-color: #f2f2f2 !important;
  color: #999999 !important;
}

// Transferencia sucesso
.section__info--transferencia {
  color: #333333;
  margin-top: 32px;
}
.dipnone-second {
  display: none !important;
}

.dipnone {
  display: none !important;
}


// new css

.value {
  flex-basis: 50%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  color: #000;
  
}

.value.left {
  background-color: tomato;
}

.value.right {
  background-color: aquamarine;
}

.lend-value {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.lend-value > span {
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px 0;
  background-color: crimson;
  color: #000;
  font-family: sans-serif;
  font-size: 28px;
}

.lend-value > span:hover {
  opacity: .9;
}

@media (min-width: 43.125rem) {
  body {
    flex-direction: row;
  }

  .value {
    height: 100vh;
  }
}

.right-phone, .left-phone{
  margin: 4px 0 0 4px;
}
