/* IMPORT DE CSS DO PACOTE */
@import url(style.css);
@import url(forms.css);
@import url(selectbox.css);

a:link, a:visited {color: #222;}
a:hover {text-decoration:underline !important; color: #c72177 !important;}
a:active {color: #c72177;}

a.linkDefault:link, a.linkDefault *:visited, a.linkDefault *:active {
    color: #222;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}

a.linkDefault:hover {
    background-color: #fff !important;
    text-decoration: underline !important;
}

label.fleft, .fleft {float:left;}
label.fright, .fright {float:right;}
.nofloat {float:none;}
.cleft {clear:left;}
.cright {clear:right;}
.cboth {clear:both;}
.nomargin {margin:0;}
.nopadding {padding:0 !important;}
.alignright {text-align:right;}
.alignleft {text-align:left;}

.button { /* Botoes usados em todo o site. Aplicaveis em links. Podem receber atributos de largura. */
	font:bold 11px/28px Arial, Helvetica, Verdana, Tahoma, sans-serif;
	color:#fff !important;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	padding:0 10px;
	margin-right:10px;
	position:relative;
	letter-spacing:0;
	background-color: #c72177;
	cursor: pointer;
}
.button span {
	width:10px; height:28px;
	display:inline-block;
	position:absolute;
	right:0; top:0;
	_right:-1px; /*IE6*/
	background-color: #c72177;
	color: #fff;
	outline: 0px;
}
.button:hover { background-color:  #ad1d68; color: #ffffff !important; background-position: -10px bottom !important; text-decoration:none !important;}
.button:hover span { background-color:  #ad1d68; color: #ffffff !important; background-position: left bottom; outline: 0px;}
.button.btHover { background-color:  #ad1d68; color: #ffffff !important; background-position: -10px bottom;}
.button.hover span.sbtHover { background-color:  #ad1d68; color: #ffffff !important; background-position: left bottom; outline: 0px;}

div#contentDetalhamento.resultado-detalhamento-pre-pago table {
	font-size: 10px;

}