
#home-produto form {
  margin: 30px 0;
}

#home-produto form label {
  font-weight: normal;
}

#home-produto .wrapinput input {
  height: 25px;
  font-weight: normal;
  line-height: 16px;
}

#home-produto #formSubmission label {
  display: block;
}

/* Custom Checkbox - Start */
.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 65px;
  height: 22px;
  padding: 3px;
  margin: 5px 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 4px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  /*background: #E1B42B;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+100 */
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 20px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  margin: 0;
  width: 20px;
  height: 12px;
  /*background: linear-gradient(to bottom, #eeeeee, #FFFFFF);*/
  /*background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);*/
  background-image: url('images/custom-toggle-check.png');
  border-radius: 4px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked ~ .switch-handle {
  left: 33px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffef74+0,ff833a+100 */
  background: #ffef74; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffef74 0%, #ff833a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffef74 0%,#ff833a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffef74 0%,#ff833a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffef74', endColorstr='#ff833a',GradientType=0 ); /* IE6-9 */
}

/* Transition
========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
/* Custom Checkbox - End */

/* Ativa Desativa Servicos - Start */
#home-produto #formprinc .tblPctServ .switch {
  margin: 0 auto;
}
/* Ativa Desativa Servicos - End */

.form-minhaoi .form-control {
  height: 73px;
  width: 100%;
  padding: 15px 30px;
  font-family: "simplon_bplight";
  font-size: 16px;
  font-weight: normal;
  color: #222;
  line-height: 73px;
}

.form-minhaoi .col-xs-12 .text-muted {
  padding: 0;
  margin: 20px 0 0 0;
  font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11px;
  color: #bababa;
}

.form-minhaoi input[readonly] {
  background: #fff;
}

.form-minhaoi textarea.form-control {
  height: 144px;
}

#sso .cadastrar-usuario .form-minhaoi .form-group .iptCPF,
.form-minhaoi .form-inline .form-group:first-child .form-control {
  border-radius: 4px 0 0 4px;
}

.form-minhaoi .form-inline .form-group:last-child .form-control {
  border-radius: 0 0 4px 0;

}
#sso .form-minhaoi .form-inline .iptNumeroContrato,
#sso .form-minhaoi .form-inline .iptNumeroOi{
  border-radius: 0 4px 4px 0;

}
.form-minhaoi .dados-pessoais .form-group {
  margin: 0;
}

.form-minhaoi .dados-pessoais .form-group .form-control {
  border-radius: 0;
}

.form-minhaoi .dados-pessoais .form-group:first-child .form-control {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.form-minhaoi .dados-pessoais .form-group:last-child .form-control {
  border-radius: 0 0 4px 4px;
  border-top: none;
}

.form-minhaoi .form-group .radio {
  border: 1px solid #ddd;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 20px 30px;
}

.form-minhaoi .form-group .radio:first-child {
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.form-minhaoi .form-group .radio:last-child {
  border-radius: 0 0 4px 4px;
  border-top: none;
  margin: 0 0 20px 0;
}

.form-minhaoi input[type='radio'] {
  display: none;
}

.form-minhaoi label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: #fff;
  /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}

.checkbox label{
  padding-left: 30px !important;
  padding-top: 2px;
}

.form-minhaoi .form-group .radio label:before {
  border: 1px solid #000;
  border-radius: 10px;
}

input[type='radio']:checked + label:before {
  content: "\2022";
  color: #c72177;
  font-size: 32px;
  text-align: center;
  line-height: 20px;
}

#home-produto .form-minhaoi .btn-block.enabled,
.form-minhaoi .btn-block.enabled {
  height: 60px;
  background: #C72177;
  box-shadow: inset 0 -2px 0 0 rgba(243, 137, 0, 0.004);
  font-family: 'simplon_bpregular', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  margin: 30px 0;
}

.form-minhaoi .btn-cancela.enabled {
  height: 60px;
  background: none;
  box-shadow: inset 0 -2px 0 0 rgba(243, 137, 0, 0.004);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #222;
  margin: 30px 0;
  border: 1px solid #C72177;
  margin-right: 20px
}

.form-minhaoi .btn-block.disabled {
  height: 60px;
  background: #C72177;
  box-shadow: inset 0 -2px 0 0 rgba(12, 5, 13, 0.1);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin: 30px 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.form-minhaoi .error.form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-minhaoi .error.form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.form-minhaoi small.selected-item {
  position: relative;
  bottom: 65px;
  left: 25px;
  color: #c1c1c1;
  font-family: 'simplon_bpregular';
  font-size: 11px;
}

.form-minhaoi small.selected-item .green {
  color: #3caf56;
}

.form-minhaoi small.error {
  position: absolute;
  bottom: 70px;
  left: 30px;
  top: 10px;
  color: #d0021b;
  font-family: 'simplon_bpregular';
  font-size: 11px;
}

.form-minhaoi small[id="mensagem-error"] {
  bottom: 130px;
  left: 30px;
}

.form-minhaoi .placeholder {
  color: #999 !important;
  padding: 15px 30px;
  line-height: 0 !important;
}
/* CONSULTAR PROTOCOLO - START - PRJ5368 */
#home-produto .consulta-protocolo form {
  display: inline-block;
  background: none;
  width: 100%;
  padding: 15px 0 0 0;
}

#home-produto .consulta-protocolo form label {
  display: inline-block;
  float: none;
  padding: 0;
}

#home-produto .consulta-protocolo form .center-block {
  position: relative;
  left: 18%;
  width: auto;
}
/* CONSULTAR PROTOCOLO - END - PRJ5368 */
/* CUSTOM DATA TABLE - Start */
#home-produto .dataTables_length {
  display: none;
}

#home-produto .dataTables_paginate {
  width: 100%;
  margin: 10px 0 0 0;
}

#home-produto .paginate_button {
  background: none;
  color: #000;
  border: 1px solid #dedede;
}

#home-produto .paginate_button:hover {
  background: none;
  color: #000 !important;
  border: 1px solid #dedede;
}

#home-produto .paginate_button.previous {
  float: left;
}

#home-produto .dataTables_info {
  margin: 10px 0 0 0;
  position: absolute;
  left: 45%;
}
/* CUSTOM DATA TABLE - End */

/* SSO - Cecilia - Start */
#sso .form-minhaoi small.selected-item {
  left: 30px;
}

#sso .form-minhaoi small.error {
  bottom: 65px;
}

#sso .form-minhaoi .input-box {
  margin: 35px 0 10px 0;
}
/* SSO - Cecilia - End */

/* CADASTRAR USUARIO - Start */

#sso .cadastrar-usuario .section-dados-endereco{
  position: relative;
  top: 15px;
  margin-bottom: 20px;
}
#sso .cadastrar-usuario .form-minhaoi .tipodocumento .sbHolder{
  border-radius: 4px 4px 0px 0px;
  border-bottom: 0;
}

#sso .cadastrar-usuario .form-minhaoi  .margin-bottom{
  margin-bottom: 10px;
}

#sso .cadastrar-usuario .form-minhaoi .endereco .sbHolder{
  border-radius: 0px 0px 0px 0px;
}
#sso .cadastrar-usuario .form-minhaoi .complemento1 .sbHolder{
  border-radius: 4px 0px 0px 0px;
}
#sso .cadastrar-usuario .form-minhaoi .complemento2 .sbHolder{
  border-radius: 0px 0px 0px 4px;
}

#sso .cadastrar-usuario .form-minhaoi .complemento3 .sbHolder{
  border-radius: 0px 0px 0px 0px;
}

#sso .cadastrar-usuario .form-minhaoi .complemento4 .sbHolder{
  border-radius: 0px 0px 0px 4px;
}

#sso .cadastrar-usuario .form-minhaoi .form-inline .form-group:last-child .sbHolder {
  border-radius: 0 0px 4px 0 !important;
}

#sso .cadastrar-usuario .form-minhaoi .form-inline .form-group:first-child .sbHolder.active {
  border-radius: 0px 0 0 0 !important;

}

#sso .cadastrar-usuario .form-minhaoi .form-inline .form-group:last-child .sbHolder.active {
  border-radius: 0 0px 0 0 !important;

}

#sso .cadastrar-usuario .form-minhaoi .sbHolder.sbHolderDisabled {
  height: 73px;
  width: 100%;
  padding: 15px 30px;
  font-family: 'simplon_bpregular';
  font-size: 16px;
  font-weight: normal;
  color: #bababa;
  line-height: 73px;
  border-radius: 0px;
  text-decoration: none;
}
#sso .cadastrar-usuario .form-minhaoi .cidade .sbHolder.sbHolderDisabled{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #eee;
  opacity: 1;
}

#sso .cadastrar-usuario .form-minhaoi .cidade .sbHolder.sbHolderDisabled:hover{
  border: 10px solid #eee;
  cursor: not-allowed;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#sso .cadastrar-usuario .form-minhaoi .sbToggle{
  background: url('images/custom-select-arrow-2.png') 0 0 no-repeat;
  display: block;
  outline: none;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 15px;
}

#sso .cadastrar-usuario .form-minhaoi .sbToggle:hover,
#sso .cadastrar-usuario .form-minhaoi .sbToggle.sbHover {
  background: url('images/custom-select-arrow-2-hover.png') 0 0 no-repeat; 
}

#sso .cadastrar-usuario .form-minhaoi .sbToggleOpen,
#sso .cadastrar-usuario .form-minhaoi .sbToggleOpen:hover {
  background: url('images/custom-select-arrow-2-close.png') 0 0 no-repeat;
}

#sso .cadastrar-usuario .form-minhaoi .sbHolderDisabled .sbToggle{
  background: url('images/custom-select-arrow-2-disabled.png') 0 0 no-repeat;
}

#sso .cadastrar-usuario .form-minhaoi .sbSelector {
  display: block;
  height: 73px;
  left: 15px;
  line-height: 73px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  top: 0;
  text-decoration: none;
  color: #777777;
  width: 100%;
}

#sso .cadastrar-usuario .form-minhaoi .sbHolderDisabled .sbSelector {
  color: #bababa;
  text-decoration: none;

}

#sso .cadastrar-usuario .form-minhaoi .sbHolder.active {
  border-bottom: 1px solid;
  border-color: #C72177;
}

#sso .cadastrar-usuario .form-minhaoi .sbHover {
  cursor: hand;
  color: #C72177;
  border-color: #C72177;
  outline: none;
  text-decoration: none;
  border-radius: 0px 0 4px 0px;
}

#sso .cadastrar-usuario .form-minhaoi .endereco .sbOptions {
  border-color: #C72177;
  line-height: 0;
  padding: 0 0 10px 0;
  overflow: hidden;
  width: 100.6%;
  text-decoration: none;
}
#sso .cadastrar-usuario .form-minhaoi  .sbOptions {
  border-color: #C72177;
  line-height: 0;
  padding: 0 0 10px 0;
  overflow: hidden;
  width: 101%;
  text-decoration: none;
}

.sbOptions .sbDisabled {
    border: 0 !important;
    color: #bababa;
    display: block;
    padding: 7px 0 7px 3px;
}
#sso .cadastrar-usuario .form-minhaoi .sbOptions li {
  padding: 15px 10px;

}

#sso .cadastrar-usuario .form-minhaoi .sbOptions li:hover {
  background: #f2f2f2;
  color: #8c3c8c;
  margin: 0 10px;
  padding: 15px 0;

  text-decoration: none;
}

#sso .cadastrar-usuario .form-minhaoi .sbOptions li .selectbox {
  background: url('images/custom-select-arrow-2-hover.png') 0 0 no-repeat;
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
}

#sso .cadastrar-usuario .form-minhaoi .sbOptions a {
  padding: 10px;

}

#sso .cadastrar-usuario .form-minhaoi .sbOptions a:hover,
#sso .cadastrar-usuario .form-minhaoi .sbOptions a:focus,
#sso .cadastrar-usuario .form-minhaoi .sbOptions a.sbFocus {
  background: #f2f2f2;
  color: #C72177;
}


#sso .cadastrar-usuario .form-group .altura-personalizada {
  height: 93px;
}

#sso .cadastrar-usuario .formValidaToken .botaoContinuar {
  clear: both;
}
/* CADASTRAR USUARIO - END */

/* Recuperar/Desbloquear Senha - START*/
#sso #confirmacaoEmailForm .radio{
  border: none;
  padding-bottom: 0px;
  padding-left: 25px;
}

#sso .recuperacao-senha .confirma-email label{
  font-family: 'simplon_bpregular';
  color: #777;
  padding-left: 0px;
}

#sso .recuperacao-senha .confirma-email input[type="radio"]:checked + label::before{
  font-family: 'Arial';
  line-height: 18px;
}

#sso .recuperacao-senha .form-minhaoi .form-group .radio label::before{
  left: 0;
}
/* Recuperar/Desbloquear Senha - END*/

/* FORMS.CSS - START */
#sso .tabela-padrao tbody tr td .form-group .radio {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 20px 30px;
}

#sso .tabela-padrao tbody tr td .form-group .radio:first-child {
  border-radius: 4px 4px 0 0;
  margin: 0;
}

#sso .tabela-padrao tbody tr td .form-group .radio:last-child {
  border-radius: 0 0 4px 4px;
  border-top: none;
}

#sso .tabela-padrao tbody tr td input[type='radio'] {
  display: none;
}

#sso .tabela-padrao tbody tr td .form-group .radio label:before {
  border: 1px solid #ddd;
  border-radius: 8px;
}

#sso input[type='radio']:checked + label:before {
  content: "\2022";
  color: ##c72177;
  font-size: 44px;
  text-align: center;
  line-height: 15px;
}

#sso input[type='checkbox'] {
  display: none;
}

#sso .form-minhaoi .form-group .checkbox label::before {
  border: 1px solid #ddd;
  border-radius: 2px;
  top: 2px
}


#sso input[type='checkbox']:checked + label::before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  color: #33cc66;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
}

#sso .form-minhaoi input {
  line-height: 0 !important;
  -webkit-line-height: 4.563em !important;
  height: 4.563em;
}

#sso .form-minhaoi input::-webkit-input-placeholder {
  padding-top: 10px;
}
#sso .form-minhaoi .form-group .radio.alinhamento-radio label:before {
  left: 0px;
}
#sso .form-minhaoi .form-group .radio label:before {
  left: 0px;
}

#sso .form-minhaoi .alinhamento-label-radio {
  padding-left: 0px;
  color: #777;
  font-size: 12px;
  font-family: "simplon_bpregular";
}

#sso .form-minhaoi .container-margem-topo-dados-acesso {
  margin-top: 40px;
}

#sso .cadastrar-usuario .form-minhaoi .container-margem-topo-dados-acesso {
  margin-top: 25px;
}
#sso .form-minhaoi .container-margem-topo-contato {
  margin-top: 60px;
}

#sso .form-minhaoi .titulo-informacao {
  margin: 10px 0 20px 0;
  font-size: 21px;
}

#sso .form-minhaoi .fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* FORMS.CSS - END */

#sso .associacao-produtos .form-minhaoi.realizar-associacao {
  margin-left: 50px;
}

#sso .associacao-produtos .form-minhaoi.realizar-associacao .alinhamento-label-radio {
  font-size: 25px;
  font-family: "simplon_bplight";
}
#solicitarFaleConosco form label{
  font-size: 16px;
}

.fale-conosco .form-minhaoi label::before{
  left: 20px;
  font-family: 'Arial';
}

#home-produto .fale-conosco form label{
  font-family: 'simplon_bpregular';
  font-size: 14px;
}
/* FORMS.CSS - END */

/*new css form*/

#btClienteTv, #btClienteVoltar {
  font-family: 'simplon_bpregular';
  position: absolute;
  margin-top: 28px;
  margin-left: 246px;
  text-decoration: underline !important;
  text-align: right;
  width: 87px;
}

#btClienteTv:hover,
#btClienteVoltar:hover {
  text-decoration: none !important;
}

/*PRJ5841 - start*/
#faturasDebitoForm .tablesDacc ul {
  list-style: initial;
}

#faturasDebitoForm .tablesDacc .mioloTerminais ul li{
  margin-left: 48px;
}

#faturasDebitoForm .alerta-beneficio{
  list-style: none;
}

#faturasDebitoForm .alerta-beneficio img{
  float: left;
  margin-left: -16px;
  margin-right: 12px;
}
/*PRJ5841 - end*/

#sso .cadastrar-usuario .inputContrato {
  display: none;
}

.boxClienteNumeroOi, .boxClienteOiTv {
  font-family: 'simplon_bpregular';
  font-size: 13px;
  display: inline-block;
  position: absolute;
  right: -270px;
  width: 320px;
}

.boxClienteDEBITO, .boxClienteAGRUPADOR {
  font-family: 'simplon_bpregular';
  font-size: 13px;
  display: inline-block;
  position: absolute;
  right: -373px;
  width: 320px;
  top: 112px;
}

.boxClienteNumeroOi a, .boxClienteOiTv a, .boxClienteDEBITO a, .boxClienteAGRUPADOR a{
  display: block;
}

.boxClienteNumeroOi h5, .boxClienteOiTv h5 {
  font-family: 'simplon_bpregular';
  color: black;
  font-weight: bold;
}

.boxClienteDEBITO .imgFatura {
  display: none;
}

.boxClienteAGRUPADOR .imgFatura {
  display: none;
}

.boxClienteOiTv, .boxClienteOiTv .imgFatura {
  display: none;
}

.boxClienteNumeroOi .imgFatura {
  display: none;
}


.posso-ajudar {
  margin-top: 20px;
  font-family: 'simplon_bpregular';
  color: #777777;
  font-size: 14px;
}

.posso-ajudar h3 {
  margin-top: 60px;
  font-family: 'simplon_bpregular';
  color: #222222;
}

.posso-ajudar hr {
  border-color: #ccc !important;
  width: 50px;
  left: 0;
  position: absolute;
}

.cadastro-visualizacao {
  height: 950px;
}
.cadastro-visualizacao .col-md-8 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.cadastro-visualizacao h3 {
  font-family: 'simplon_bpregular';
  font-size: 35px;
  color: #222;
}

.cadastro-visualizacao .col {
  position: relative;
  top: 60px;
}


.cadastro-visualizacao h2 {
  font-family: 'simplon_bplight';
  font-size: 16px;
  color: #222;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 18px;
}

.cadastro-visualizacao .registros {
  border-bottom: 1px solid #ebebeb;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.cadastro-visualizacao .registros span {
  font-family: 'simplon_bpregular';
  font-size: 15px;
  color: #222;
  padding: 20px 20px;
  display: block;
}

.cadastro-visualizacao .registros sub {
  font-family: 'simplon_bpregular';
  font-size: 11px;
  color: #cccccc;
  position: relative;
  top: 15px; left: 20px;
}

.cadastro-visualizacao .b-left {
 border-left: 1px solid #ebebeb;
}

.cadastro-visualizacao button, .atualizacao-dados button {
  width: 140px;
  height: 55px;
  background: #c72177;
  font-family: 'simplon_bpregular';
  font-size: 16px;
  color: #222;
  border: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
}

.cadastro-visualizacao button#edit, .atualizacao-dados button#edit {
  background: none;
  color: #222;
  border: 1px solid #c72177;
  margin-right: 20px;
}



.cadastro-visualizacao button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}




/*modal*/

.modal-posso-ajudar .quadro-conteudo {
  text-align: center;
  background: #cd276e;
  background: -moz-linear-gradient(left,  #cd276e 0%, #e33f4c 100%);
  background: -webkit-linear-gradient(left,  #cd276e 0%,#e33f4c 100%);
  background: linear-gradient(to right,  #cd276e 0%,#e33f4c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd276e', endColorstr='#e33f4c',GradientType=1 );
}

.modal-posso-ajudar .quadro-conteudo h3 {
  color: #fff;
  font-family: "simplon_bplight";
  font-size: 35px;
}

.modal-posso-ajudar .quadro-conteudo button {
  display: block;
  background: none;
  color: #fff;
  width: 545px;
  height: 95px;
  border:1px solid #fff;
}
