/* Tooltip base */
/* Tooltip bottom */
.arrow-box {
	position: relative;
	background: #fff;
	border: 4px solid #cdcbcf;
}

.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(255, 255, 255, 0.15);
	border-bottom-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}

.arrow-box:before {
	border-color: rgba(205, 203, 207, 0.15);
	border-bottom-color: #cdcbcf;
	border-width: 18px;
	margin-left: -18px;
}

/* Tooltip left */
.arrow-box-left {
	position: relative;
	background: #fff;
	border: 4px solid #cdcbcf;
}

.arrow-box-left:after, .arrow-box-left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-left:after {
	border-color: rgba(255, 255, 255, 0.15);
	border-right-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}

.arrow-box-left:before {
	border-color: rgba(205, 203, 207, 0.15);
	border-right-color: #cdcbcf;
	border-width: 18px;
	margin-left: -18px;
}

/* Tooltips header section */
.header-menu {
	border-radius: 6px;
	text-align: left;
	color: #000000;
	display: block;
}

.header-menu ul {
	padding: 10px;
	margin: 0 auto;
	line-height: 10px;
	list-style-type: none;
	display: block;
}

div.tooltip .header-menu ul li,
div[id^='tooltip'] .header-menu ul li {
	vertical-align: middle;
	padding: 7px 0;
}

div.tooltip .header-menu ul li:first-child,
div[id^='tooltip'] .header-menu ul li:first-child {
	padding: 0;
	margin: 0;
}

div.tooltip .header-menu ul li:last-child,
div[id^='tooltip'] .header-menu ul li:last-child {
	height: 100%;
	border-left: none;
	padding: 0 10px 0 0;
	margin: 0;
}

.header-menu a {
	margin: 0;
	padding: 0;
	white-space: pre;
	font-weight: bold;
}

.header-menu p {
	padding: 5px 2px 5px 2px;
	text-align: left;
	white-space: pre;
	font-size: 9px;
}

/* Tooltips box produto section */
.box-produto .dados-pagamento .arrow-box-left.simple-text {
	margin: 10px;
	padding: 10px;
	width: 300px;
}

.box-produto .arrow-box-left.simple-text p {
	color: #000000;
	text-align: left;
	font-weight: normal;
	font-size: 10px;
	white-space: normal;
	width: 100%;
}

.box-produto .arrow-box.simple-text {
	padding: 10px;
	width: 300px;
}

.box-produto .acesso-rapido .arrow-box.simple-text.small-link-list {
	width: 100px;
}

.box-produto .arrow-box.simple-text p {
	color: #000000;
	text-align: left;
	font-weight: normal;
	font-size: 11px;
	white-space: normal;
	width: 100%;
}

.box-produto .arrow-box.simple-text ul {
	padding: 0;
	margin: 0;
}

.box-produto .arrow-box.simple-text ul li {
	color: #000000;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	white-space: normal;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.box-produto .arrow-box.simple-text span {
	background: #dddddd;
	width: 100%;
	height: 1px;
	display: block;
	margin: 10px 0;
}

/* Remove a transparencia do fundo do tooltip */
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity = 100);
}

/* Tooltip 2 via / Produto Header Fix Tooltip Antigo - Start */
#home-produto .box-header .container .tooltip {
	background: none;
	padding: 0;
	width: auto;
}

#home-inicio .segunda-via .tooltip {
	background: none;
	padding: 0;
	width: auto;
}

#home-produto .acesso-rapido .tooltip {
	background: none;
	padding: 0;
	width: auto;
}

.segunda-via.indisponivel .arrow-box.simple-text.small-link-list {
	padding: 10px;
	width: 300px;
}

.segunda-via .arrow-box.simple-text.small-link-list li a {
	padding: 10px;
}

.segunda-via .arrow-box.simple-text.small-link-list li a.disabled {
	color: #cdcbcf;
	text-decoration: none !important;
}

.segunda-via .arrow-box.header-menu p {
	white-space: normal;
	color: #333;
}
/* Tooltip 2 via - End */
/* CSS dos tooltips antigos - START*/
.tip{position:relative;z-index:500;z-index:9999; width:224px; background:url("../style/images/boxInterSaldoMiolo.png") left top repeat-y;margin-left:16px; line-height:16px;} 
.tip-top{position:relative;z-index:500;z-index:9999; background:url("../style/images/boxInterSaldoTop.png") top left no-repeat;height:68px; width:224px;margin-left:0; line-height:16px;} 
.tip-title{position:relative;z-index:500;z-index:999; color:#000000; margin:0 27px 0 20px; padding-top:0px;}
.tip-top .tip-title1 {
	position:relative;
	z-index:500;
	z-index:9999;
	color:#000000;
	margin-left:36px!important;
	padding-top:20px;
	margin-right:10px;
	font-size: 11px;
	text-align: left;
}
.tip-bottom{position:relative;z-index:500;z-index:9999; background:url("../style/images/boxInterSaldoBotton2.png") left bottom no-repeat; width:224px; height:20px; margin-left:16px;}
.tooltipX, .tooltipX2{
	position:absolute;
	z-index:9999;
	display: none;
	font-size: 11px;
	text-align: left;
}/*ARS 10057195 - l.c - 05/03/2013 */

span.tooltipIco {
	width: 16px !important;
	height: 25px !important;
	display: inline-block !important;
	float: none !important;
	cursor: help;
	position: relative;
	margin-top: -5px;
	z-index: 2;
	vertical-align: middle;
	background: url("../style/images/bg-sso-form-tooltip.gif") no-repeat center left;
}

span.tooltipIcoB {
	width: 16px !important;
	height: 25px !important;
	display: inline-block !important;
	float: none !important;
	cursor: help;
	position: relative;
	margin-top: -5px;
	z-index: 2;
	vertical-align: middle;
	background: url("../style/images/bg-sso-form-tooltip.gif") no-repeat center left;
   top:1px;
   left:2px;
}

#home-inicio div.tooltip,
#home-produto div.tooltip {
	background: url("../style/images/bg-sso-form-tooltip-box.gif") no-repeat top left;
	display: none;
	left: 65px;
	padding: 10px 15px 5px 20px;
	position: absolute;
	text-align: left;
	top: -15px;
	width: 215px;
	height: 67px;
	z-index: 402 !important;
}

#home-inicio div.tooltip.tipimg,
#home-produto div.tooltip.tipimg {
	background:none!important;
	z-index:300;
	width:388px !important;
	height:161px !important;
}

/* Tooltip bottom */
#home-inicio div.tooltipBig,
#home-produto div.tooltipBig {
	background: url("../style/images/bg-sso-form-tooltip-box-bottom-big.gif") no-repeat top left;
	display: none;
	font-size: 11px;
	height: 177px;
	_height: 177px;
	line-height: 14px;
	padding: 30px 10px 10px 10px;
	position: absolute;
	text-align: left;
	top: 20px;
	width: 196px;
	_width: 196px;
	z-index: 4999 !important;
}

#home-inicio div.tooltipBottom,
#home-produto div.tooltipBottom {
	background: url("../style/images/bg-sso-form-tooltip-box-bottom.gif") no-repeat top left;
	display: none;
	font-size: 11px;
	height: 177px;
	_height: 177px;
	line-height: 14px;
	padding: 30px 10px 10px 10px;
	position: absolute;
	text-align: left;
	top: 0;
	width: 196px;
	_width: 196px;
	z-index: 4999 !important;
}


.tip-top2 {
	position:relative;
	z-index:500;
	z-index:9999;
	background:url("../style/images/boxInterSaldoTop2.png") top left no-repeat;
	height:22px;
	width:216px;
	margin-left:8px;
	line-height:16px;
}

.Vert .tip-top2 {
	position:relative;
	z-index:500;
	z-index:9999;
	background:url("../style/images/boxToolVertTop.png") top left no-repeat;
	height:9px;
	width:183px;
	margin-left:8px;
	line-height:16px;
}

.Vert .tip-bottom {
	position:relative;
	z-index:500;
	z-index:9999;
	background:url("../style/images/boxToolVertBotton.png") left bottom no-repeat;
	width:183px;
	height:25px;
	margin-left:8px;
}

.Vert .tip {
	position:relative;
	z-index:500;
	z-index:9999;
	width:183px;
	background:url("../style/images/boxToolVertMiolo.png") left top repeat-y;
	margin-left:8px;
	line-height:16px;
}

.tooltipX.Vert{display: none;bottom: 22px!important; position: absolute;}

/* CSS dos tooltips antigos - END */

/* Saldo Pre-Pago - tooltips - START */
/*tooltip warning Saldo*/
span.tooltipIco.warning.dinam { /*alteracoes - 03/07/12 l.c*/
	width: 26px !important;
	height: 25px !important;
	display: inline-block !important;
	float: none !important;
	cursor: help;
	/*position: relative;*/
	margin-top: -10px;
    margin-left:2px;
	z-index: 2;
	vertical-align: middle;
	background: url("../style/images/ico_warningerror.png") no-repeat center left;
}

.promocao-bonus li span.destaque .tooltipX {
	font-size:11px;
	font-weight:normal;
}

.bonus td.coluna-vencimento span.tooltipIco {
	float:right;
}

.bonus .tooltipX,
.resumo-recarga .tooltipX,
.promocao-bonus .tooltipX {
   text-align:left;
}

.bonus td.destaque .tooltipX {
   font-weight:normal;
}
/* Saldo Pre-Pago - tooltips - END */

/* Saldo Parcial - tooltips - START */
#saldo.saldo-parcial .telefone-inclusos  .bLonger,
#saldo.saldo-parcial .barraRealConsumo .telefone-inclusos  .bLonger {
	padding-right: 0px;
	font-weight: bold;
}

#saldo.saldo-parcial .telefone-inclusos p,
#saldo.saldo-parcial .barraRealConsumo .telefone-inclusos p {
	color: #000;
	font-weight: normal;
	font-size: 11px;
}

#saldo.saldo-parcial .telefone-inclusos .tip-title {
	margin: 0 27px 0 12px;
}

#saldo.saldo-parcial .telefone-inclusos .tip-top2 {
	background: url("../style/images/boxToolVertTop_big.png") no-repeat scroll left top transparent;
	width: 300px;
}

#saldo.saldo-parcial .telefone-inclusos .Vert .tip {
	background: url("../style/images/boxToolVertMiolo_big.png") repeat-y scroll left top transparent;
	width: 300px;
	text-align: center;
}

#saldo.saldo-parcial .telefone-inclusos .Vert .tip-bottom {
	background: url("../style/images/boxToolVertBotton_big.png") no-repeat scroll left bottom transparent;
	width: 300px;
}

#saldoMinutos.account-saldoAtual #parcial .graficos-consumo td.tool1Alerta > .tooltipIco {
    bottom: 6px;
    float: right !important;
    margin-left: 3px;
    position: relative;
    right: -15px;
}

#saldoMinutos.account-saldoAtual td.tool1Alerta .tooltipIco {
    height: 20px !important;
    margin-left: 1px;
    margin-top: -2px;
    position: static;
    z-index: 9998;
}

#saldoMinutos.account-saldoAtual td span.final {
    font-size: 11px;
    margin-left: 8px;
}

#saldoMinutos.account-saldoAtual .barraRealConsumo p {
	font-size: 11px;
}
/* Saldo Parcial - tooltips - END */

/* Consumo 3G - START */
#saldo.saldo-dados .tip-top2 {
	background: url("../style/images/boxToolVertTop_big.png") no-repeat scroll left top transparent;
	width: 300px;
}

#saldo.saldo-dados .Vert .tip {
	background: url("../style/images/boxToolVertMiolo_big.png") repeat-y scroll left top transparent;
	width: 300px;
	text-align: center;
}

#saldo.saldo-dados .Vert .tip-bottom {
	background: url("../style/images/boxToolVertBotton_big.png") no-repeat scroll left bottom transparent;
	width: 300px;
}
/* Consumo 3G - END */

/* Efeito tooltip TV  - START */
#details-tv .tooltip{
	position:absolute;
	display: none; 
}

#details-tv :hover + .tooltip {
	 
	display:block;
}

#details-tv .tooltip:hover {

	display:block;	
}
/* Efeito tooltip TV - END */

/* Definicao de efeito de apresentacao do tooltip do menu */




#navbar .tooltip{
	position:absolute;
	top: 54px; 
	display: none; 
}

#navbar .oi-nav-icon:hover + .tooltip {
	display:block;
}

#navbar .tooltip:hover {
	display:block;	
}

/* Definicao de posicionamento de apresentação do tooltip do menu */

#navbar .user-tooltip-alignment{
	left: -67.5px; 
}
#navbar .protocol-tooltip-alignment{
	left: -75px; 
}

/* Cadastrar usuario  - tooltip - START*/
#sso .arrow-box:after, 
#sso .arrow-box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#sso .arrow-box:after {
	border-color: rgba(255, 255, 255, 0.15);
	border-bottom-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}

#sso .arrow-box:before {
	border-color: transparent;
	border-bottom-color: #cdcbcf;
	border-width: 19px;
	margin-left: -19px;
}

#sso .cadastrar-usuario .pull-icon-right {
	float: right;
	margin-right: 22px;
	margin-top: 9px;
}

#sso .cadastrar-usuario .pull-icon-right2 {
	float: right;
	margin-right: 380px;
	margin-top: 25px;
}
#sso  .cadastrar-usuario .pull-icon-right3 {
	position: absolute;
	float: right; 
	margin-left: 10px; 
	margin-top: 395px; 
}

#sso  .cadastrar-usuario .pull-icon-right4 {
	position: absolute;
	float: right; 
	margin-left: 10px; 
	margin-top: 295px; 
}

#sso .posicao-tooltip-direita {
	position: relative;
	max-width: 385px;
	height: 122px;
	top: 76px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 4px;
	border-color: #d9d9d9;
}

#sso .cadastrar-usuario .posicao-tooltip-direita1 {
	max-width: 340px;
	height: 122px;
	top: 50px;
	position: absolute;
	border-radius: 4px;
	left: 110px;
	border-color: #d9d9d9;
}

#sso .posicao-tooltip-direita2 {
	max-width: 250px;
	height: 115px;
	top: 50px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	border-radius: 4px;
	left: 12px;
	border-color: #d9d9d9;
}

#sso .posicao-tooltip-direita3 {
	max-width: 250px;
	height: 115px;
	top: 50px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	border-radius: 4px;
	border-color: #d9d9d9;
}

#sso .posicao-tooltip-centro {
	margin-top: 22px;
	max-width: 300px;
	height: 75px;
	border-radius: 4px;
	border-color: #d9d9d9;
	position: relative;
	border-radius: 4px;
}

#sso .arrow-box {
	border: 4px solid #d9d9d9;
}

#sso .tooltip-paragrafo-centro {
	text-transform: none;
	font-family: "simplon_bpregular";
	font-size: 11px;
	padding: 20px 25px 10px 27px;
	color: #222222;
	line-height: 1.154;
	text-align: center;
	width: 300px;
	position: absolute;
	margin-top: 100px;
	right: 135px;
}

#sso .tooltip-paragrafo-esquerda {
	text-transform: none;
	font-family: "simplon_bpregular";
	font-size: 11px;
	padding: 15px 20px 10px 27px;
	color: #222222;
	line-height: 1.154;
	text-align: center;
	width: 210px;
}

#sso .posicao-tooltip-esquerda {
	position: absolute;
	margin-top: 100px;
	right: 35px;
	max-width: 210px;
	height: 78px;
	border-radius: 4px;
	border-color: #d9d9d9;
}

#sso .ptooltip1 {
	margin-top: 0px;
}

#sso .ptooltip2 {
	margin-top: -7px;
}

#sso .tooltip-paragrafo p {
	font-family: "simplon_bpregular";
	font-size: 13px;
	padding: 0;
	color: #222222;
	text-transform: uppercase;
	line-height: 1.154;
	text-align: center;
	z-index: -1;
}

#sso .arrow-box-left:after,
#sso .arrow-box-left:before {
	top: 20%;
}

#sso .arrow-box-left {
	border: 5px solid #d9d9d9;
	max-width: 340px;
	height: 122px;
	border-radius: 4px; 
	top: 25px;
}

#sso .cadastrar-usuario .arrow-box-left {
	top: -37px;
}

#sso  .arrow-box-left:after {
	border-color: rgba(255, 255, 255, 0.15);
	border-right-color: #fff;
	border-width: 12px; 
	margin-left: -12px;
	top:18%;
}

#sso .arrow-box-left:before {
	border-color: rgba(255, 255, 255, 0.15);
	border-right-color: #d9d9d9;
	border-width: 19px;
	border-radius: 10px 10px 10px 10px;
	margin-left: -19px;
	top: 13.2px;
	left: -19px;
}

#sso .tooltip.extra-width{
	border: 11px transparent;
	padding-left: 20px;
}


#sso .cadastrar-usuario .tooltip-image{
	background-image: url('images/conta-velox-3g.png');
	display: block;
	width: 405px;
	height: 285px;
	z-index: 1;
	position: absolute;
	top: 115px;
	right: 25px;
}
#sso .associacao-produtos  .tooltip-image {
	background-image: url('images/conta-velox-3g.png');
	display: block;
	width: 405px;
	height: 285px;
	z-index: 1;
	position: absolute;
	top: 100px;
	right: 25px;
}
#sso .tooltip-imagetv {
	background-image: url('images/contatv.png');
	display: block;
	border: 1px solid #777;
	width: 330px;
	height: 240px;
}

#sso .associacao-produtos .tooltip-imagetv {
	position: relative;
	left: 78px;
	bottom: 80px;
}

#sso .cadastrar-usuario .tooltip-imagetv {
	position: relative;
	right: 22px;
    bottom: 116px;
}

#sso .tooltip-imager1 {
	background-image: url('images/fixo-r1.png');
	display: block;
	width: 370px;
	border: 1px solid #777;
	height: 164px;
}

#sso .tooltip-imager2 {
	background-image: url('images/fixo-r2.png');
	display: block;
	width: 373px;
	border: 1px solid #777;
	height: 121px;
	left: 20px;
}

#sso .tooltip-ico {
	background: url('images/icon-tooltip.png') no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	top: 4px;
}

#sso .tooltip-ico-inativo {
	background: url('images/icon-tooltip-inact.png') no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	right: 75px;
	top: 62px; 
}

#sso .cadastrar-usuario .tooltip-ico-inativo {
	background: url('images/icon-tooltip-inact.png') no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	right: 80px;
	top: 60px; 
}

#sso .cadastrar-usuario .formValidaToken .tooltip-ico-inativo {
	right: 20px;
	top: 30px;
}

#sso .cadastrar-usuario .formValidaToken .arrow-box-left {
	top: -40px;
	left: 105px;
}

#sso .cadastrar-usuario .formValidaToken .tooltip-paragrafo {
	line-height: 1;
}

#sso .cadastrar-usuario .tooltip-inner {
background-color: transparent;
}

#sso .cadastrar-usuario #positivacaoDACCForm .tooltip-ico-inativo {
right: 20px;
top: 32px;
}

#sso .cadastrar-usuario .formValidaToken .tooltip-imager1 {
margin-left: 68px;
margin-top: 66px;
}

/* Cadastrar usuario  - tooltip - END*/

/* ASSOCIAR PRODUTOS - TOOLTIP - START */
#sso #confirmacaoCodigoForm .tooltip-ico-inativo {
	background: url('images/icon-tooltip-inact.png') no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	top: 65px;
}

#sso .associacao-produtos .tooltip-imagem-alinhada {
	padding:18px 0px 0px 0px;
	background-color: transparent;
}

#sso .associacao-produtos .cadastrar-usuario .posicao-tooltip-direita {
	max-width: 340px;
	height: 122px;
	top: 39px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	border-radius: 4px;
	left: 2px;
	border-color: #d9d9d9;
}

#sso .associacao-produtos .posicao-tooltip-direita1 {
	max-width: 340px;
	height: 122px;
	top: 35px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	border-radius: 4px;
	left: 12px;
	border-color: #d9d9d9;
}
#sso .cadastrar-usuario .tooltip-paragrafo,
#sso .associacao-produtos .tooltip-paragrafo {
	font-family: "simplon_bpregular";
	font-size: 13px;
	padding: 15px;
	color: #222222;
	text-transform: uppercase;
	line-height: 0;
	text-align: center;
	width: 335px;
	height: 125px;
	background-color: #fff;
	white-space: pre-line;
}

#sso .associacao-produtos .arrow-box-left:after {
	top: 16%;
}

#sso .associacao-produtos .arrow-box-left:before {
	top: 11px;
}

#sso .associacao-produtos .tooltip-codigo-seguranca {
	width: 225px;
	height: 100px;
	padding: 2px 14px;
	margin-top: 10px;
}

#sso .associacao-produtos .tooltip-link-clique-aqui {
	text-decoration: underline;
}

#sso .associacao-produtos .tooltip-cliente-numero-oi {
	width: 290px;
	height: 110px;
}

#sso .associacao-produtos .arrow-box-left-codigo-seguranca:after {
	top: 28%;
}

#sso .associacao-produtos .arrow-box-left-codigo-seguranca:before {
	top: 22%;
}

#sso .associacao-produtos .tooltip-contaFixoR2 {
	margin-top: 14px;
	background-image: url('images/contaFixoR2.png');
	display: block;
	border: 1px solid #777;
	width: 375px;
	height: 120px;
}

#sso .associacao-produtos .tooltip-contaFixoR1 {
	margin-top: 35px;
	background-image: url('images/contaFixoR1.png');
	display: block;
	border: 1px solid #777;
	width: 374px;
	height: 173px;
}

#sso .associacao-produtos .tooltip-ico-inativo.tooltipTV {top: 32px;}

/* ASSOCIAR PRODUTOS - TOOLTIP - END */

/* Validacao Usuario / Senha - Start */
#sso .validacao-usuario .tooltip .tooltip-inner,
#sso .validacao-senha .tooltip .tooltip-inner {
	background: none;
	width: 100%;
	padding: 0; 
}

#sso .validacao-usuario .tooltip .tooltip-inner .container,
#sso .validacao-senha .tooltip .tooltip-inner .container {
	background: #fff;
	width: 100%;
}

#sso .validacao-usuario .tooltip .tooltip-inner p,
#sso .validacao-senha .tooltip .tooltip-inner p {
	font-family: 'simplon_bpregular';
	font-size: 11px;
	color: #CC0000;
	text-align: center;
}

#sso .validacao-usuario .tooltip .tooltip-inner p {
	color: #222;
	padding: 15px 2px;
	white-space: pre-wrap;
}

#sso .validacao-senha .tooltip .tooltip-inner p:first-child {
	margin-top: 20px;
	margin-bottom: 2px;
}

#sso .validacao-senha .tooltip .tooltip-inner p:nth-child(even) {
	margin-top: 2px;
	margin-bottom: 2px;
}

#sso .validacao-senha .tooltip .tooltip-inner p:last-child {
	margin-bottom: 20px;
}

#sso .validacao-senha .tooltip .tooltip-inner .isValid {
	color: #00CC00;
}
/* Validacao Senha - End */

/* Ajuste Tooltip Protocolo - PKE17113 - START */
#navbar .protocol-tooltip-alignment{
	left: -75px; 
	width: 200px;
}

#navbar .protocol-tooltip-alignment .header-menu p{
text-align: center;
}
/* Ajuste Tooltip Protocolo - PKE17113 - END */

