<div id="home-produto" class="main pull-left">
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Oi Total
      &gt;
			Combo
			&gt;
      Aumentar Internet
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Total</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>



                    <!-- end: style_minhaoi_telefones_inclusos -->



										<!-- style_minhaoi_telefones_inclusos :: FIM -->
									</div>
									<!-- teste categoria plano oct  -->

								</div>
							</div>

							<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


              <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

              <section class="account-menu">
                <ul class="clearfix" style="display: flex;justify-content: space-around;">

                    <li class="" style="width: 100%;">
                        <a
                           href="#"> Conta</a>
                        <ul style="display: none;">
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.c5610aaf2e1254de25b425b4246d02a0/?vgnextoid=2326433b0d27e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Últimas Contas">&gt; Últimas Contas</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.d1c50c701c9124de25b425b4246d02a0/?vgnextoid=20ab0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Conta Detalhada">&gt; Conta Detalhada</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.27e4dc8b6107e4de25b425b4246d02a0/?vgnextoid=18eb0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Perfil de Consumo">&gt; Perfil de Consumo</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.f64d612e7150b4de25b425b4246d02a0/?vgnextoid=165d0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Código de Barras para Pagamento">&gt; Código de Barras para Pagamento</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/debito-automatico" title="Cadastro de Débito Automático">&gt; Cadastro de Débito Automático</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/AdesaoCSP" title="Cadastro de Conta Online">&gt; Cadastro de Conta Online</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.e6743df13277316715621562246d02a0/?vgnextoid=ccfc0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.9487d7bbc7ecd182be42be42eccc02a0/?vgnextoid=0f2c0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Alteração de Endereço de Cobrança">&gt; Alteração de Endereço de Cobrança</a></li>
                           <li class=""><a href="http://www.oi.com.br/oi/oi-pra-voce/oi-conta-total/ja-sou-cliente/entenda-sua-conta" target="_blank" title="Entenda Sua Conta">&gt; Entenda Sua Conta</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.efd03bfcf7852a2a5e015e01eccc02a0/?vgnextoid=e08676b27dd21410VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                        </ul>
                     </li>

                	<li class="" style="width: 100%;">
                   <a href="#" style="">Serviços</a>
                   <ul style="display: none;">
                      <li class=""><a href="#" title="Ativação e Desativação de Serviços" class="mais-internet">&gt; Mais Internet</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.23b3e6ad8e92c372be42be42eccc02a0/?vgnextoid=c8fe0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Ativação e Desativação de Serviços">&gt; Ativação e Desativação de Serviços</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.2ea53d8b64c9d372be42be42eccc02a0/?vgnextoid=c50f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Bloqueio por Perda e Roubo">&gt; Bloqueio por Perda e Roubo</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.6da16f8971dde672be42be42eccc02a0/?vgnextoid=f21f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Criar Senha de Caixa Postal">&gt; Criar Senha de Caixa Postal</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.5525a1989c734772be42be42eccc02a0/?vgnextoid=c43f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Resgate Senha Caixa Postal">&gt; Resgate Senha Caixa Postal</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.45151b16eed9b52a5e015e01eccc02a0/?vgnextoid=9984b629d91ad310VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Endereço de Cobrança">&gt; Alteração de Endereço de Cobrança</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.efd03bfcf7852a2a5e015e01eccc02a0/?vgnextoid=f4d3ac12392ad310VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.c1a9a04b9c3510c974517451eccc02a0/?vgnextoid=b420f515f5551410VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Consultar Linhas Móveis">&gt; Consultar Linhas Móveis</a></li>
                      <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=ec552c2daba64410VgnVCM10000031d0200aRCRD&vgnextfmt=ajax#divDetails" title="Cancelamento via formulário">&gt; Cancelamento via formulário</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.f12f062e09bda74e89d389d3246d02a0/?vgnextoid=2969b739fffdb410VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Cancelamento de Produtos">&gt; Cancelamento de Produtos</a></li>
                   </ul>
                	</li>

                	<li class="last-child" style="background: none;width: 100%;">
                	 <a href="/">Oi Pontos</a>
                	</li>

                </ul>
              </section>


            <!-- mensagem de erro -->
            <section class="section__title">
              <p class="title-cingapura">Aumentar Internet</p>
            </section>

            <!-- info de erro -->
            <!-- <section class="warn-message-info">
              <i class="material-icons warn-icon">&#xE8B2;</i>
              <span>Este número precisa de 300 MB além de sua franquia para manter esta média de consumo.
              </span>
            </section> -->


						<section class="aumentar-internet-cingapura">
							<h5>Escolha um plano de internet para o número (21) 98883-0223</h5>
							<p>Aumentar a internet significa que a franquia do seu plano será alterada definitivamente.</p>
            </section>
                        
            <section class="box-internet">
              <p class="col-xs-7">
                  <i class="pkge-icon"></i>
                  <span class="title"><strong>5 GB de internet por R$ 9,90</strong></span>
                  <br/>
                  <span class="box__pacote--date cor__second">Válido a partir da confirmação da troca do plano.</span>
              </p>
              <p class="col-xs-5 pull-right">
                  <a class="btn btn-default btn-block-aumentar-internet btn-aumentar-internet" href="aumentar-internet-confirma.html">Contratar</a>
              </p>
            </section>

						<section class="box-internet">
							<p class="col-xs-7">
								<i class="pkge-icon"></i>
								<span class="title"><strong>10 GB de internet por R$ 24,90</strong></span>
								<br/>
								<span class="box__pacote--date cor__second">Válido a partir da confirmação da troca do plano.</span>
							</p>
							<p class="col-xs-5 pull-right">
								<a class="btn btn-default btn-block-aumentar-internet btn-aumentar-internet" href="aumentar-internet-confirma.html">Contratar</a>
							</p>
            </section>
                        
            <section class="box-internet">
              <p class="col-xs-7">
                  <i class="pkge-icon"></i>
                  <span class="title"><strong>15 GB de internet por R$ 24,90</strong></span>
                  <br/>
                  <span class="box__pacote--date cor__second">Válido a partir da confirmação da troca do plano.</span>
              </p>
              <p class="col-xs-5 pull-right">
                  <a class="btn btn-default btn-block-aumentar-internet btn-aumentar-internet" href="aumentar-internet-confirma.html">Contratar</a>
              </p>
            </section>

						<p class="aumentar-internet-aviso">Ao trocar de plano de internet, valerá as regras da nova oferta. O pagamento será proporcional até a data de renovação da franquia. Consulte o regulamento no site da Oi.
						</p>

						<section class="aumentar-internet-cingapura-voltar">
							<a href="home_do_produto.html">Voltar</a>
						</section>
						</div>
					</div>

					<!-- end: div_box_produto -->
		</div>
		<!-- end: div_id_produto -->
		<!-- end: style_minhaoi_container_plano -->

		</div>
		<!-- end: div_content -->

</div>
