
<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Total
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>

									</div>
								</div>
							</div>


              <section class="account-menu">
                <ul class="clearfix" style="display: flex;justify-content: space-around;">

                  <li class="" style="width: 100%;">
                	 <a href="#" style="">Conta</a>
                	</li>

                	<li class="" style="width: 100%;">
                	 <a href="#" style="">Serviços</a>
                	</li>

                	<li class="last-child" style="background: none;width: 100%;">
                	 <a href="/">Oi Pontos</a>
                	</li>

                </ul>
              </section>


              <div class="panel panel-default panel-component-info">
                <div class="panel-heading">
                  <strong>FILTRAR POR</strong>
                  <select>
                    <option value="">Todas as ações</option>
                    <option value="">Transferência</option>
                    <option value="">Pacote extra de internet</option>
                    <option value="">Distribuição de internet</option>
                  </select>
                </div>

                <section class="message-info">
                  <i class="material-icons">warning</i>
                  <span>Não há ações nos últimos 90 dias.</span>
                </section>
            </div>

				</div>
			</div>

					<!-- end: div_box_produto -->
		</div>
		<!-- end: div_id_produto -->
		<!-- end: style_minhaoi_container_plano -->

	</div>
	<!-- end: div_content -->

</div>
