// .item-apelido {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//    span.color-apelido {
//      width: 34px;
//      height: 34px;
//      border-radius: 50%;
//      background: #000;
//      color: transparent;
//      display: block;
//      margin-right: 37px;
//    }
//    .input {
//    	position: relative;
//    	z-index: 1;
//    	display: inline-block;
//      // margin: 1em;
//        border-radius: 2px;
//        width: 470px;
//        height: 65px;
//    	vertical-align: top;
//    }
//
//    .input__field {
//      position: relative;
//    	display: block;
//    	float: right;
//    	padding: 0.8em;
//    	width: 60%;
//    	border: none;
//    	border-radius: 0;
//    	background: #f0f0f0;
//    	color: #aaa;
//    	font-weight: bold;
//    	  font-family: 'SimplonBP';
//    	-webkit-appearance: none; /* for box shadows to show on iOS */
//    }
//
//    .input__field:focus {
//    	outline: none;
//    }
//
//    .input__label {
//      display: inline-block;
//    	float: right;
//    	padding: 0 1em;
//    	width: 40%;
//    	color: #909090;
//    	font-weight: bold;
//    	font-size: 18px;
//    	-webkit-font-smoothing: antialiased;
//        -moz-osx-font-smoothing: grayscale;
//    	-webkit-touch-callout: none;
//    	-webkit-user-select: none;
//    	-khtml-user-select: none;
//    	-moz-user-select: none;
//    	-ms-user-select: none;
//    	user-select: none;
//    }
//
//    .input__label-content {
//    	position: relative;
//    	display: block;
//    	padding: 1.6em 0;
//    	width: 100%;
//    }
//
//      .input--apelido {
//    	  overflow: hidden;
//      }
//
//      .input__field--apelido {
//        position: absolute;
//    	z-index: 100;
//    	padding: 2em 1em;
//    	width: 100%;
//    	background: transparent;
//    	color: #222222;
//    	font-size: 18px;
//        font-family: 'SimplonBP';
//      }
//
//      .input__label--apelido {
//        padding: 0;
//    	width: 100%;
//    	height: 100%;
//    	border:1px solid #d4d4d4;
//    	text-align: left;
//        border-radius: 2px;
//        width: 470px;
//        height: 65px;
//      }
//
//      .input__label-content--apelido {
//        padding: 1.5em 1em;
//    	-webkit-transform-origin: 0% 50%;
//    	transform-origin: 0% 50%;
//    	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
//    	transition: transform 0.3s, color 0.3s;
//
//    	text-rendering: geometricPrecision;
//      }
//
//      .input__label--apelido::before {
//        content: '';
//    	position: absolute;
//    	top: 0;
//    	left: 0;
//    	width: 100%;
//    	height: 100%;
//    	border: 0px solid transparent;
//    	-webkit-transition: border-width 0.3s, border-color 0.3s;
//    	transition: border-width 0.3s, border-color 0.3s;
//      }
//
//      // .input__field--apelido:focus + .input__label--apelido::before,
//      // .input--filled .input__label--apelido::before {
//      // 	border-width: 8px;
//      // 	border-color: #1784cd;
//      // 	border-top-width: 2em;
//      // }
//
//      .input__field--apelido:focus + .input__label--apelido .input__label-content--apelido,
//      .input--filled .input__label--apelido .input__label-content--apelido {
//      	color: #000;
//          //padding: 2em 1em;
//      	-webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
//      	transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
//      }
//  }




<div class="adicionar-apelido">
  <div class="item-apelido">
    <span class="color-apelido"></span>
    <div class="group">
      <input type="text" required value="">
      <label class="phone-apelido"></label>
    </div>
  </div>
</div>


.adicionar-apelido {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65px;
  margin-bottom: 14px;
  .item-apelido {
    display: flex;
    flex-direction: row;
    align-items: center;
    span.color-apelido {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      color: transparent;
      display: block;
      margin-right: 37px;
    }
    .group {
      position:relative;
    }
    input {
      font-size:18px;
      display:block;
      border-radius: 2px;
      border: solid 1px #d4d4d4;
      width: 470px;
      height: 65px;
      vertical-align: top;
      padding-top: 25px;
      padding-left: 23px;
    }
    input:focus { outline:none; }
    label {
      color:#999;
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:20px;
      top:20px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    input:focus ~ label, input:valid ~ label {
      left:5px;
      top:27px;
      -webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
      transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
    }
  }
}
