<div id="home-inicio" class="main pull-left">
<script>
$(document).ready(function(){
	$( '#overlay, #close').on('click', function(event) {
    $(".lightbox").hide();
});
});
</script>
<section class="lightbox">
	<div class="modal-ini-minhaoi">
	<span class="close-icon"><i class="material-icons close-icon" id="close">&#xE5CD;</i></span>

		<p class="title-modal">Serviços adicionais</p>
    <div class="form-group adicionais">
      <label for="sel1">Selecione o número:</label>
  		<select class="form-control" name="">
  		  <option value="">(21) 98765-4321</option>
        <option value="">(21) 99872-9799</option>
        <option value="">(21) 98712-0921</option>
        <option value="">(21) 98721-0921</option>
        <option value="">(21) 98721-0921</option>
  		</select>
    </div>
    <div class="border-modal"></div>
		<div class="sva-erro">
			<p class="parag-modal-produto-erro">Não foi passivel carregar os serviços.
			</p>

			<a class="btn btn-default btn-modal-cingapura-sva pull-right">Tentar novamente</a>
		</div>
	</div>
	<div id="overlay"></div>
</section>


</div>
