
<div id="home-produto" class="main pull-left">
    <script>
        $(document).ready(function(){
          $( '#overlay, #close').on('click', function(event) {
          $(".lightbox").hide();
          });
          $('.mais-internet a, .mais-internet').on('click', function(event) {
          $(".lightbox.home-modal-internet").show();
          });
        });
     </script>

<section class="lightbox home-modal-internet">
  <div class="modal-ini-minhaoi">
   <span class="close-icon"><i class="material-icons close-icon" id="close">&#xE5CD;</i></span>
   <p class="title-modal">A internet está quase no fim?</p>
   <p >Se um número do plano está ficando sem internet, você tem duas opções:</p>
   <div class="col-xs-5 box-modal">
    <p class="parag-modal">Aumentar a internet do seu plano.</p>
    <a class="btn btn-default btn-modal-cingapura" href="aumentar-internet.html">Aumentar internet</a>
    <p class="obs-modal">Sua franquia de internet mensal será alterada.</p>
   </div>
   <div class="col-xs-5 pull-right box-modal">
    <p class="parag-modal">Comprar um pacote extra de internet.</p>
    <a class="btn btn-default btn-modal-cingapura" href="compraPacote.html">Comprar pacote extra</a>
    <p class="obs-modal obs-modal-last">O pacote de internet será válido até a próxima renovação da sua franquia mensal.</p>
   </div>
  </div>
  <div id="overlay"></div>
</section>


  <!-- <section class="lightbox light-edit-apelido">
  	<div class="modal-ini-minhaoi-apelido">
  		<span class="close-icon"><i class="material-icons close-icon" id="close">&#xE5CD;</i></span>

  		<p class="title-modal-edit">Defina um apelido pros números dos seus dependentes</p>

      <div class="adicionar-apelido">
        <div class="item-apelido">
          <span class="color-apelido"></span>
          <div class="group">
            <input type="text" required value="" class="input-apelido">
            <label class="phone-apelido"></label>
          </div>
        </div>
      </div>
  	</div>
  	<div id="overlay"></div>
  </section> -->

<!-- d3.js -->
<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script -->

<!-- charts (pie and bar) -->
<script>
    /* <!-- inject:js:chart --> */

</script>

  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Total
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
            <div class="success-message-info editar-apelido dipnone">

                <i class="material-icons success-icon">&#xE86C;</i>
                  <span> Tudo certo! Apelidos salvos</span>

            </div>

            <!-- <div class="message__warn-home editar-apelido">

                <i class="material-icons warn-icon">&#xE8B2;</i>
                  <span> <strong>Defina apelidos</strong> pra você e seus dependentes. Assim fica muito mais fácil de identificar os números.</span>

            </div> -->

						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>

									</div>
								</div>
                <!-- <p class="pull-right edit-apelido"><i class="material-icons">&#xE254;</i><span>Definir apelidos</span></p> -->

							</div>

              <section class="account-menu">
                <ul class="clearfix" style="display: flex;justify-content: space-around;">

                    <li class="" style="width: 100%;">
                        <a
                           href="#"> Conta</a>
                        <ul style="display: none;">
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.c5610aaf2e1254de25b425b4246d02a0/?vgnextoid=2326433b0d27e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Últimas Contas">&gt; Últimas Contas</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.d1c50c701c9124de25b425b4246d02a0/?vgnextoid=20ab0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Conta Detalhada">&gt; Conta Detalhada</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.27e4dc8b6107e4de25b425b4246d02a0/?vgnextoid=18eb0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Perfil de Consumo">&gt; Perfil de Consumo</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.f64d612e7150b4de25b425b4246d02a0/?vgnextoid=165d0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Código de Barras para Pagamento">&gt; Código de Barras para Pagamento</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/debito-automatico" title="Cadastro de Débito Automático">&gt; Cadastro de Débito Automático</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/AdesaoCSP" title="Cadastro de Conta Online">&gt; Cadastro de Conta Online</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.e6743df13277316715621562246d02a0/?vgnextoid=ccfc0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.9487d7bbc7ecd182be42be42eccc02a0/?vgnextoid=0f2c0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Alteração de Endereço de Cobrança">&gt; Alteração de Endereço de Cobrança</a></li>
                           <li class=""><a href="http://www.oi.com.br/oi/oi-pra-voce/oi-conta-total/ja-sou-cliente/entenda-sua-conta" target="_blank" title="Entenda Sua Conta">&gt; Entenda Sua Conta</a></li>
                           <li class=""><a href="/portal/site/MinhaOi/menuitem.efd03bfcf7852a2a5e015e01eccc02a0/?vgnextoid=e08676b27dd21410VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                        </ul>
                     </li>

                	<li class="" style="width: 100%;">
                   <a href="#" style="">Serviços</a>
                   <ul style="display: none;">
                      <li class=""><a href="#" title="Ativação e Desativação de Serviços" class="mais-internet">&gt; Mais Internet</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.23b3e6ad8e92c372be42be42eccc02a0/?vgnextoid=c8fe0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Ativação e Desativação de Serviços">&gt; Ativação e Desativação de Serviços</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.2ea53d8b64c9d372be42be42eccc02a0/?vgnextoid=c50f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Bloqueio por Perda e Roubo">&gt; Bloqueio por Perda e Roubo</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.6da16f8971dde672be42be42eccc02a0/?vgnextoid=f21f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Criar Senha de Caixa Postal">&gt; Criar Senha de Caixa Postal</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.5525a1989c734772be42be42eccc02a0/?vgnextoid=c43f0b5df037e210VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Resgate Senha Caixa Postal">&gt; Resgate Senha Caixa Postal</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.45151b16eed9b52a5e015e01eccc02a0/?vgnextoid=9984b629d91ad310VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Endereço de Cobrança">&gt; Alteração de Endereço de Cobrança</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.efd03bfcf7852a2a5e015e01eccc02a0/?vgnextoid=f4d3ac12392ad310VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Alteração de Data de Vencimento">&gt; Alteração de Data de Vencimento</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.c1a9a04b9c3510c974517451eccc02a0/?vgnextoid=b420f515f5551410VgnVCM10000031d0200aRCRD&vgnextfmt=default" title="Consultar Linhas Móveis">&gt; Consultar Linhas Móveis</a></li>
                      <li class=""><a class="ajaxLink" href="/portal/site/MinhaOi/menuitem.0017f08cf59de912fe82fe82246d02a0/?vgnextoid=ec552c2daba64410VgnVCM10000031d0200aRCRD&vgnextfmt=ajax#divDetails" title="Cancelamento via formulário">&gt; Cancelamento via formulário</a></li>
                      <li class=""><a href="/portal/site/MinhaOi/menuitem.f12f062e09bda74e89d389d3246d02a0/?vgnextoid=2969b739fffdb410VgnVCM1000009ad0200aRCRD&vgnextfmt=default" title="Cancelamento de Produtos">&gt; Cancelamento de Produtos</a></li>
                   </ul>
                	</li>

                	<li class="last-child" style="background: none;width: 100%;">
                	 <a href="/">Oi Pontos</a>
                	</li>

                </ul>
              </section>

              <!-- conteúdo -->

              <!-- <section>
                  <div class="col-xs-12 without-padding">  -->

                    <!-- conta -->

                    <!-- <div class="col-xs-8 without-padding">
                       <div class="resumo-conta">
                          <h4>Resumo da Última Conta</h4>
                          <div class="panel panel-default">
                             <div class="panel-body dados-conta">
                                <div class="table-responsive valor-a-pagar">
                                   <table class="table">
                                      <colgroup>
                                         <col class="col-xs-4">
                                         <col class="col-xs-2">
                                         <col class="col-xs-3">
                                         <col class="col-xs-3">
                                      </colgroup>
                                      <tbody>
                                         <tr class="first-child last-child">
                                            <td width="20%" class="first-child">
                                               <p>Data de Vencimento</p>
                                               <p>Status de Pagamento</p>
                                            </td>
                                            <td width="20%" style="font-size: 11px;" class="divider-right">
                                               <p>26/06/2017</p>
                                               <span style="text-align:right; margin-top:-3px; float:right;">
                                                  <font color="#D0021B">
                                                  <strong>Em Aberto</strong>
                                                  </font>
                                                  <span style="margin-top:-2px;" class="tooltipIco">&nbsp;</span>
                                                  <div style="opacity: 0; display: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: Arial; top: 67px; left: 242px;" class="tooltip" id="testDiv">Caso você já tenha efetuado o seu pagamento, o mesmo pode demorar até 3 dias úteis para ser identificado</div>
                                               </span>
                                            </td>
                                            <td width="30.5%" class="divider-left">
                                               <span>Valor a Pagar</span>
                                            </td>
                                            <td width="19.5%" class="last-child">
                                               <p class="preco">
                                                  <sub>R$</sub>276,<sup>54</sup>
                                               </p>
                                            </td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div> -->

                                <!-- END Resumo da conta -->
                                <!-- end -->

                                <!-- <div class="table-responsive servicos-pagamento">
                                   <table class="table">
                                      <colgroup>
                                         <col class="col-xs-4">
                                         <col class="col-xs-2">
                                         <col class="col-xs-3">
                                         <col class="col-xs-3">
                                      </colgroup>
                                      <tbody>
                                         <tr class="first-child last-child">
                                            <td class="first-child">Conta Online:</td>
                                            <td class="divider-right"><a href="/portal/site/MinhaOi/AdesaoCSP" class="green-label">Cadastrar</a></td>
                                            <td class="divider-left">Débito Automático:</td>
                                            <td class="last-child"><a href="/portal/site/MinhaOi/debito-automatico" class="red-label">Cadastrar</a></td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                             </div>
                          </div>
                       </div> -->

                       <!-- info user data -->

                       <!-- <div class="c-account-user-info">
                         <p>Início da conta: 13/05/2017</p>
                         <p>Fechamento da conta: 13/06/2017</p>
                       </div>
                    </div> -->

                    <!-- end conta -->

                     <!-- <div class="col-xs-4">
                      <div class="acesso-rapido row center-block">
                        <h4>Acesso Rápido</h4>

                        <div class="row center-block">
                          <div class="col-xs-6 without-padding">
                            <a class="btn btn-default float-left" target="_blank" href="/portal/" role="button" >
                              <span class="via-conta"></span>2ª Via de Conta
                            </a>
                          </div>
                          <div class="col-xs-6 without-padding">
                            <a class="btn btn-default float-left" target="_blank" href="/portal/" role="button" >
                              <span class="conta-detalhada"></span>Ver Conta Detalhada
                            </a>
                          </div>
                          <div class="col-xs-6 without-padding">
                            <a class="btn btn-default float-left" target="_blank" href="/portal/" role="button" >
                              <span class="cod-barras-pagamento"></span>Código de Barras para Pagamento
                            </a>
                          </div>
                          <div class="col-xs-6 without-padding">
                            <a class="btn btn-default float-left" target="_blank" href="/portal/" role="button" >
                              <span class="ultimas-contas"></span>Últimas Contas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </section> -->

              <!-- gráfico -->
              <section>
                  <div class="col-xs-12 without-padding">
                    <div class="col-xs-8 without-padding">
                      <h4>Saldo de internet</h4>

                      <div class="panel panel-default">

                         <div class="panel-heading bar-chart">
                            <div class="pull-left col-xs-3">
                                <h4>Número Oi</h4>
                                
                             </div>
                             <div class="pull-left col-xs-6 center-block control-tab">
                                <select>
                                    <option value="(21) 9995-55353">(21) 9995-55353</option>
                                  </select>


                             </div>
                             <div class="control-collapse pull-right col-xs-3 text-right" style="display: block;">
                                <a class="ver-detalhes-por-pessoa__" id="collapse-saldo-parcial" href="javascript:void(0);" data-toggle="collapse">+ Detalhes</a>
                                
                                <span class="collapsed detalhes" data-toggle="collapse" data-target="#detalhes-por-pessoa__"></span>
                             </div>
                         </div>


                         <div class="panel-body panel-body-saldo">
                           <!-- start graphic -->
                           <div class="wrapper-graphic-cingapura">
                              <div class="container-label">
                                <!-- <span class="label-min"></span> -->
                                <span class="titulo-grafico">Plano mensal de internet</span>
                                <!-- <span class="label-middle"></span> -->
                                <span class="label-max"></span>
                              </div>
                              <div class='container-graphic'>
                                <div class="proporcional-adesao">
                                </div>
                                <div class="valor-atual"></div>
                              </div>
                              <!-- <div class="info" trigger="manual" data-toggle="tooltip-info" title="Internet proporcional a sua data de adesão ao plano">i</div>
                              <i class="info material-icons"
                                trigger="manual"
                                data-toggle="tooltip-info" title="">info_outline</i> -->

                              <div class="current-data">

                                <!-- ocultando balão do current-data -->
                                <!-- <span class="arrow-border"></span>
                                <span class="arrow"></span> -->

                                <span class="data"></span>
                              </div>

                            </div>
                            <!-- <div class="data-de-renovacao">
                              <span>Data de renovação: 25/07/2017</span>
                            </div> -->
                            <!-- <div class="consumo-detalhado-wrapper">
                              <button class="ver-detalhes-por-pessoa__">Ver consumo detalhado por pessoa</button>

                              <div>
                                <span class="collapsed detalhes" data-toggle="collapse" data-target="#detalhes-por-pessoa__">
  				                      </span>
                              </div>
                            </div> -->
                            
                            <div id="detalhes-por-pessoa__" class="collapse">

                              <div class="full-container-chart">

                                <!-- <div class="header">
                                  <h4>Disponível pra navegar</h4>
                                </div>
                                <div class="col-xs-12 charts-dados-navegados">
                                </div> -->

                                <div class="saldo-list">

                                  <ul class="total-consumption">
                                    <li>Tipo de navegação: <span>Navegando com velocidade reduzida</span></li>
                                    <li>Franquia do plano mensal de internet: <span>4 GB</span></li>
                                    <li>Data que atingiu 100% da franquia: <span>23/08/2016</span></li>
                                    <li>
                                        <div>
                                            Total consumido até o momento:&nbsp;<span>4.64 GB</span>
                                            <i class="info material-icons" trigger="manual" data-toggle="tooltip-total-momento" title="">help_outline</i>
                                        </div>
                                    </li>
                                  </ul>

                                  <div class="saldo-list-footer">
                                    <div>
                                      <span>Alerta por SMS: </span>Inativo
                                      <i class="info material-icons" trigger="manual" data-toggle="tooltip-alerta-sms" title="">help_outline</i>
                                    </div>
                                    <div>
                                        <span>Alerta por e-mail: </span>Inativo
                                        <i class="info material-icons" trigger="hover" data-toggle="tooltip-alerta-email" title="">help_outline</i>
                                      </div>
                                  </div>

                                </div> <!-- FIM saldo-list -->

                              </div>

                            </div> <!-- FIM detalhes-por-pessoa__ -->

                         </div>
  
                      </div>
                      <!-- FIM panel panel-default -->
                      


                      <!-- Aqui -->
                      <div class="message__warn-home call-modal">

                          <i class="material-icons warn-icon">&#xE8B2;</i>

                          <div class="modal-text">
                              <p> O número <strong>(21) 98883-0223</strong> já atingiu <strong>80%</strong> do seu plano de internet mas ainda tem <strong>2GB</strong> para usar até o dia <strong>22/10</strong>.</p>
  
                              <p class="mais-internet"><a href="#">Quero mais internet</a></p>
                          </div>
                            
          
                      </div> 
                      <!-- Fim -->


                    </div>

                    <div class="col-xs-4">
                      <h4>Para seu Combo</h4>

                      <div class="btn-phone-container">
                        <div class="col-xs-12 without-padding">
                          <a href="#" class="btn btn-default mais-internet">
                            Mais Internet
                          </a>
                        </div>
                        <div class="col-xs-12 without-padding">
                          <a href="/test" class="btn btn-default">
                            Recarga Online
                          </a>
                        </div>
                        <div class="col-xs-12 without-padding">
                          <a href="/test" class="btn btn-default">
                            Religar Serviço
                          </a>
                        </div>
                        <div class="col-xs-12 without-padding">
                          <a href="/test" class="btn btn-default">
                            Perfil de Consumo
                          </a>
                        </div>
                        <div class="col-xs-12 without-padding">
                          <a href="/test" class="btn btn-default">
                            Solicitar Reparo
                          </a>
                        </div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- outros gráficos abaixo -->
              <section id="saldoMinutos" class="account-saldoAtual">
             <script type="text/javascript">
                var dataDiff = '';

                var infoSaldo = new Array();


                infoSaldo[0] =
                {
                	"nomeCategoria" : "VOZ",
                 	"franquias-compartilhadas" :
                    		[

                				{"nome" : "Franquia off-net 100 minutos sem rollover",
                				 "contratado" : 100,
                				 "consumido" : 54,
                				 "disponivel" : 46,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "55",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "3252",
                				 "contratadoRaw": "6000"
                				}

                				,


                				{"nome" : "Pacote DDD e Roaming Nacional",
                				 "contratado" : 50,
                				 "consumido" : 11,
                				 "disponivel" : 40,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "21",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "630",
                				 "contratadoRaw": "3000"
                				}

                				,


                				{"nome" : "Franquia on-net e fixo sem rollover",
                				 "contratado" : 500000,
                				 "consumido" : 0,
                				 "disponivel" : 500000,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "0",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "0",
                				 "contratadoRaw": "30000000"
                				}

                				,


                				{"nome" : "Franquia off-net 50 minutos sem rollover",
                				 "contratado" : 50,
                				 "consumido" : 50,
                				 "disponivel" : 0,
                				 "unidade" : "MIN",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "100",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "MIN",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "3000",
                				 "contratadoRaw": "3000"
                				}


                    		],
                	"consumoExtra" :
                		[
                			{"nome" : "Minutos de voz fora da franquia contratada", "unidade" : "MIN", "valor" : 0, "descricao" : "Aqui você verifica os minutos gastos com serviços que não fazem parte da sua franquia. Este consumo implicará uma cobrança extra na sua conta."}
                		]

                };

                infoSaldo[1] =
                {
                	"nomeCategoria" : "EVENTO",
                 	"franquias-compartilhadas" :
                    		[

                				{"nome" : "Pacote Oi Torpedo Ilimitado",
                				 "contratado" : 50000,
                				 "consumido" : 0,
                				 "disponivel" : 50000,
                				 "unidade" : "TORPEDOS",
                				 "unidadeContratado" : "",
                				 "porcentagem" : "0",
                				 "hint" : "",
                				 "excedente" : "0",
                				 "unidadeExcedente" : "",
                				 "unidadeExtraFranquia" : "",
                				 "unidadeDisponivel" : "TORPEDOS",
                				 "rollover" : '',
                				 "excedenteRaw": "0",
                				 "consumidoRaw": "0",
                				 "contratadoRaw": "50000"
                				}


                    		],
                	"consumoExtra" :
                		[
                			{"nome" : "Torpedos fora da franquia contratada", "unidade" : "TORPEDOS", "valor" : 0, "descricao" : "Aqui você verifica o número de torpedos enviados além do permitido pelas suas franquias exibidas acima. Este consumo implicará uma cobrança extra na sua conta."}
                		]

                };


                var infoCompartilhada = new Array(); //array for non-shared bundles

                var telefonesInclusos = new Array(); // array for all terminals

                var telefones = ""; // array for all terminals



             </script>
             <!-- BEGIN Novo Saldo Parcial 2013 -->
             <div id="saldo" class="saldo-parcial col-xs-8 without-padding">
                <div class="clearfix">
                   <div class="pull-left">
                      <h4>Saldo Parcial</h4>
                   </div>
                   <div class="pull-right data-saldo">
                      <p>Início da conta:
                         13/06/2017
                      </p>
                      <p>Fechamento da conta:
                         13/07/2017
                      </p>
                   </div>
                </div>
                <!-- BEGIN Abas -->
                <div class="panel panel-default extra">
                   <div class="panel-body panel-oi">
                      <div class="header degrade">
                         <div class="pull-left col-xs-2">
                            <h4>Plano</h4>
                         </div>
                         <div class="pull-left col-xs-7 center-block control-tab">
                            <span class="periodo">
                               <p>Visualizar:</p>
                               <span id="ico-grafico" class="active">
                               <a href="#" title="Gáfico"></a>
                               </span>
                               <span id="ico-lista" class="">
                               <a href="#" title="Tabela"></a>
                               </span>
                            </span>
                         </div>
                         <div class="control-collapse pull-right col-xs-3 text-right" style="display: block;">
                            <a id="collapse-saldo-parcial" href="javascript:void(0);">+ Detalhes</a>
                            <span class="detalhes"></span>
                         </div>
                      </div>
                      <!-- Conteúdo do Saldo Parcial Dinâmico -->
                      <script src="/ArquivosEstaticos/MinhaOi/scripts/saldo.js" type="text/javascript"></script>
                      <div id="parcial-graficos" class="graficos-consumo abaSaldo" style="display: block;">
                         <table class="bloco-franquia item-plano">
                            <colgroup>
                               <col class="col-xs-4">
                               <col class="">
                               <col class="">
                               <col class="">
                            </colgroup>
                            <thead></thead>
                            <tbody class="VOZ">
                               <tr class="tit-produto">
                                  <td colspan="4" class="nome-item-novo"><strong>VOZ</strong></td>
                               </tr>
                               <tr>
                                  <td class="consumoParcial">
                                     <div class="novo-voz">
                                        <p>Minutos para qualquer operadora do Brasil</p>
                                        <span class="consumoVoz">259 min</span>
                                        <!-- <ul>
                                           <input type="hidden" value="0" id="valorExcedente"><input type="hidden" value="" id="unidadeExcedente">
                                           <li class="first text-right"><b>100</b>&nbsp;MIN&nbsp;</li>
                                           <li class="percentSaldo">
                                              <div class="leftConsumido"></div>
                                              <div class="percetConsumido  parcial" style="width: 226.85px;">
                                                 <div class="traco" style="width: 226.85px;"><b>55</b><strong>%</strong></div>
                                              </div>
                                              <div class="saldoFranquiaTotal" style="display: none;"><strong>Franquia 100% consumida</strong></div>
                                           </li>
                                           <li class="valConsumido" style="margin-left: 212.85px;"><b>54</b>&nbsp;MIN</li>
                                        </ul> -->
                                     </div>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <small class="saldoN">O seu saldo é aproximado e refere-se ao consumo até o dia 30/06/2017.</small>
                <!--input type="hidden" id="dataExtracao" value="O seu saldo é aproximado e refere-se ao consumo até o dia 30/06/2017."-->
             </div>
             <!--END Novo Saldo Parcial 2013 -->
             <input type="hidden" value="" id="valorExcedente">
             <input type="hidden" value="" id="unidadeExcedente">
             <!-- DPC Google Analytics -->
          </section>


          <section>
            <div class="col-xs-8 without-padding" style="margin-top:30px;">
              <h4>Serviços Adicionais</h4>

              <p style="margin-top:20px"><b>Conteúdos do seu plano</b>.<br/>
                Além de falar e navegar, use todo o conteúdo exclusivo que temos.
                Facilite a sua vida com os conteúdos que acompanham o seu plano. Tudo na palma da sua mão.
                É só baixar e aproveitar.
              </p>

              <p>
                <a href="/test" style="font-size: 14px;font-weight: bold;line-height: 1.07;text-align: center;color: #222222;text-decoration:underline;margin-top:20px;display: inline-block;">
                  Confira os Conteúdos do seu plano
                </a>
              </p>
            </div>
          </section>

          <section class="account-historicoConta">
            <div class="col-xs-12 without-padding" style="margin-top:70px;">
            	 <h4>Histórico de Conta</h4>

            	 	<table>
            		<tbody><tr class="first-child">
            			<td class="first-child">
                    <img src="/ArquivosEstaticos/MinhaOi/images/historico.png" alt="" width="632" height="204"></td>
            			<!-- Alinhamento central da mensagem STI 85082 - Esteira agil - 27/05 -->
            			<td style="font-family: Arial; font-size: 10px;" align="center" class="last-child">
            			<img src="/ArquivosEstaticos/MinhaOi/images/dotted.png"><br>
            			Média de<br>Consumo<br>272,86
            			</td>
            		</tr>
            		<tr class="last-child">
            			<td style="font-family: Arial; font-size: 10px;" align="center" class="first-child last-child">Valores exibidos no gráfico em Reais</td>
            		</tr>
            		</tbody></table>
            </div>
        	</section>


				</div>
			</div>

		</div>
	</div>
	<!-- end: div_content -->

</div>
