<div id="home-produto" class="main pull-left">
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Total
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
				<div class="row box-header">
					<div class="container">
						<div class="col-xs-12 pull-left">
									<!-- style_minhaoi_telefones_inclusos :: INICIO -->

	                <!-- begin: style_minhaoi_telefones_inclusos -->
	                <div class="col-xs-12 pull-left">

	                  <p>Telefones no plano:</p>
	                  <p class="telefones-plano">
	                    (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
	                  </p>
			              <input id="idProdutoHome" type="hidden" value="">
	                </div>



	                <!-- end: style_minhaoi_telefones_inclusos -->



									<!-- style_minhaoi_telefones_inclusos :: FIM -->
								</div>
								<!-- teste categoria plano oct  -->

							</div>
						</div>

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

	        <section class="account-menu">
	          <ul class="clearfix" style="display: flex;justify-content: space-around;">

	            <li class="" style="width: 100%;">
	          	 <a href="#" style="">Contas</a>
	          	</li>

	          	<li class="" style="width: 100%;">
	          	 <a href="#" style="">Serviços</a>
	          	</li>

	          	<li class="last-child" style="background: none;width: 100%;">
	          	 <a href="/">Oi Pontos</a>
	          	</li>

	          </ul>
	        </section>

	        <section class="section__title">
	          <p class="title-cingapura">Distribuição de internet</p>
            <!-- <p class="pull-right section__help"><a href="#"><i class="material-icons help-icon">&#xE887;</i>Precisa de ajuda?</a></p> -->
	        </section>
          <section class="success-message-info">
            <span><i class="material-icons success-icon">&#xE86C;</i>
              Tudo certo! A distribuição de internet foi programada para <strong>10/12/2017</strong> com sucesso.
            </span>
          </section>
          <section class="slider__redistribuir--sucesso">
            <div id="boxes__redistribuir">
              <div class="box__redistribuir color-1">
                <p class="cor__first">(21) 92812-0992</p>
                <span class="cor__first">8 GB</span>
              </div>
              <div class="box__redistribuir color-2">
                <p class="cor__first">(21) 92812-1192</p>
                <span class="cor__first">8 GB</span>

              </div>
              <div class="box__redistribuir color-3">
                <p class="cor__first">(21) 92812-1123</p>
                <span class="cor__first">8 GB</span>

              </div>
              <div class="box__redistribuir color-4">
                <p class="cor__first">(21) 92812-1188</p>
                <span class="cor__first">8 GB</span>
              </div>
              <div class="box__redistribuir color-5">
                <p class="cor__first">(21) 92812-1122</p>
                <span class="cor__first">8 GB</span>
              </div>
            </div>
            <p class="protocolo__redistribuicao">Protocolo n<sup>o</sup>: <b class="protocolo__number">201459385863</span> </b>
          </section>
					</div>
				</div>
		</div>
	</div>
</div>
