<div id="home-produto" class="main pull-left">
<style>
    /* <!-- inject:css --> */
</style>
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Total
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
<div id="divContent">
<!-- begin: style_minhaoi_container_plano -->
	<div id="box-internet">
		<h2 class="sub-header">
			<span class="mini-icon-home"></span>
	    <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
		</h2>
		<div class="panel panel-default row box-produto">
			<div class="panel-body">
				<div class="row box-header">
					<div class="container">
						<div class="col-xs-12 pull-left">
									<!-- style_minhaoi_telefones_inclusos :: INICIO -->

	                <!-- begin: style_minhaoi_telefones_inclusos -->
	                <div class="col-xs-12 pull-left">

	                  <p>Telefones no plano:</p>
	                  <p class="telefones-plano">
	                    (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
	                  </p>
			              <input id="idProdutoHome" type="hidden" value="">
	                </div>



	                <!-- end: style_minhaoi_telefones_inclusos -->



									<!-- style_minhaoi_telefones_inclusos :: FIM -->
								</div>
								<!-- teste categoria plano oct  -->

							</div>
						</div>

						<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


	          <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

	        <section class="account-menu">
	          <ul class="clearfix" style="display: flex;justify-content: space-around;">

	            <li class="" style="width: 100%;">
	          	 <a href="#" style="">Contas</a>
	          	</li>

	          	<li class="" style="width: 100%;">
	          	 <a href="#" style="">Serviços</a>
	          	</li>

	          	<li class="last-child" style="background: none;width: 100%;">
	          	 <a href="/">Oi Pontos</a>
	          	</li>

	          </ul>
	        </section>

	        <section class="section__title">
	          <p class="title-cingapura">Distribuição de internet</p>
            <!-- <p class="pull-right section__help"><a href="#"><i class="material-icons help-icon">&#xE887;</i>Precisa de ajuda?</a></p> -->
	        </section>
          <section class="section__message--top">
            <p class="message__top--small">Mova as barras pra alterar a internet dos números</p>
            <p class="pull-right franquia-total">Franquia total: <span class="user-max-value"></span> GB</p>
          </section>
          <section class="slider__redistribuir--confirmar">

            <div class="multirange">
            <div class="c-range-container">
              <div class="c-label-container">
              </div>
              <div id="range">
                <div class="color-0 range-bg-0"></div>
                <div class="color-1 range-bg-1"></div>
                <div class="color-2 range-bg-2"></div>
                <div class="color-3 range-bg-3"></div>
                <div class="color-4 range-bg-4"></div>
              </div>

            </div>
            </div>



            <!-- <div class="slide" id="slide1"></div> -->
            <!-- removed to append other render slider -->
            <!-- div id="my-slider">

            </div -->

            <div id="boxes__redistribuir" class="c-box__redistribuir">
              <div class="box__redistribuir">
                <p class="c-phone">(21) 92812-0992</p>
                <span></span>
              </div>
              <!-- div class="box__redistribuir color-2">
                <p>(21) 92812-1192</p>
                <span id="value-box-1"></span>
              </div>
              <div class="box__redistribuir color-3">
                <p>(21) 92812-1123</p>
                <span id="value-box-2">8 GB</span>
              </div>
              <div class="box__redistribuir color-4">
                <p>(21) 92812-1188</p>
                <span id="value-box-3">8 GB</span>
              </div>
              <div class="box__redistribuir color-5 pull-right">
                <p>(21) 92812-1122</p>
                <span id="value-box-4">8 GB</span>
              </div -->
            </div>

            <div class="buttons__redistribuir">
              <div class="col-xs-6">
                <a href="#" class="cor__fourth" id="write-button">Distribuir igualmente</a>
              </div>
              <span class="buttons__redistribuir--border"></span>
              <div class="col-xs-6">
                <a href="#" class="cor__fourth" id="restaurar__saldo">Restaurar</a>
              </div>
            </div>
          </section>

          <section class="section__button">
            <a class="btn btn-default btn-block-transferir-saldo btn-transferir-saldo
            ">Confirmar</a>
          </section>
          <section class="section__message">
            <a href="#">Cancelar</a>
          </section>

					</div>
				</div>
		</div>
	</div>
</div>
