<div id="home-produto" class="main pull-left">

<script>
function showMsgMinimos() {
  alert("olaaa");
}
/* <!-- inject:js:transferir-ini --> */
</script>
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Total
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>



                    <!-- end: style_minhaoi_telefones_inclusos -->



										<!-- style_minhaoi_telefones_inclusos :: FIM -->
									</div>
									<!-- teste categoria plano oct  -->

								</div>
							</div>

							<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


              <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

            <section class="account-menu">
              <ul class="clearfix" style="display: flex;justify-content: space-around;">

                <li class="" style="width: 100%;">
              	 <a href="#" style="">Contas</a>
              	</li>

              	<li class="" style="width: 100%;">
              	 <a href="#" style="">Serviços</a>
              	</li>

              	<li class="last-child" style="background: none;width: 100%;">
              	 <a href="/">Oi Pontos</a>
              	</li>

              </ul>
            </section>

            <!-- Cingapura title -->
            <section class="section__title">
              <p class="title-cingapura">Transferência de saldo</p>
              <!-- <p class="pull-right section__help"><a href="#"><i class="material-icons help-icon">&#xE887;</i>Precisa de ajuda?</a></p> -->
            </section>

            <!-- info de erro -->
            <section class="section__message--top">
              <p>Selecione dois números pra transferir internet entre eles:</p>
            </section>
            <!-- info de erro -->
            <section class="warn-message-info selecionar-2-atores dipnone">
              <i class="material-icons warn-icon">&#xE8B2;</i>
              <span>
                Você tem que selecionar dois números pra transferir.
              </span>
            </section>
            <section class="warn-message-info dois-minimos dipnone">
              <i class="material-icons warn-icon">&#xE8B2;</i>
              <span>
                Não é possível transferir entre dois números com saldo mínimo permitido.
              </span>
            </section>
						<section class="section__itensCingapura">
              <form class="form-transferencia" action="index.html" method="post">
                <div class="panel panel-default text-align--center box-transferir-atores">

                  <input type="checkbox" name="atores" value="" class="add-ator">

                   <div class="panel-heading">
                      <p class="panel-heading__itemName first-name"></p>
                      <span class="panel-heading__itemNumber cor__second first-phone"></span>
                   </div>
                   <div class="panel-body">
                      <p class="panel-heading__itemQty">
                      <span class="first-value"> </span>
                      </p>
                      <div class="avulso-panel avulso-panel-first">
                        <span class="panel-heading__itemQtyAvulso cor__second first-avulso-value">Disponível para transferir</span>
                      </div>
                   </div>
                 </div>
             </form>
						</section>

            <section class="section__button">
              <a class="btn btn-default btn-block-transferir-saldo btn-transferir-saldo
              ">Transferir saldo</a>
            </section>
						<section class="section__message">
							<p class="cor__second">Saldos atualizados em 20/05/2017 às 18h30. <a href="#" class="transferencia">Atualizar saldos.</a></p>
              <p class="cor__second second-info-transf">Pacotes extras contratados não podem ser transferidos.</p>
            </section>
						</div>
					</div>

					<!-- end: div_box_produto -->
		</div>
		<!-- end: div_id_produto -->
		<!-- end: style_minhaoi_container_plano -->

		</div>
		<!-- end: div_content -->

</div>
