<div id="home-produto" class="main pull-left">
  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Total
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>



                    <!-- end: style_minhaoi_telefones_inclusos -->



										<!-- style_minhaoi_telefones_inclusos :: FIM -->
									</div>
									<!-- teste categoria plano oct  -->

								</div>
							</div>

							<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


              <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

            <section class="account-menu">
              <ul class="clearfix" style="display: flex;justify-content: space-around;">

                <li class="" style="width: 100%;">
              	 <a href="#" style="">Contas</a>
              	</li>

              	<li class="" style="width: 100%;">
              	 <a href="#" style="">Serviços</a>
              	</li>

              	<li class="last-child" style="background: none;width: 100%;">
              	 <a href="/">Oi Pontos</a>
              	</li>

              </ul>
            </section>

            <!-- Cingapura title -->
            <section class="section__title">
              <p class="title-cingapura">Transferência de saldo</p>
              <!-- <p class="pull-right section__help"><a href="#"><i class="material-icons help-icon">&#xE887;</i>Precisa de ajuda?</a></p> -->
            </section>

            <!-- info de erro -->
            <section class="warn-message-info">
              <i class="material-icons warn-icon">&#xE8B2;</i>
              <span>
                Os números não possuem saldos disponíveis pra realizar uma transferência.
              </span>
            </section>
						<section class="section__itensCingapura">
              <form class="" action="index.html" method="post">


              <div class="panel panel-default text-align--center cor__third nactive">
               <div class="panel-heading nactive">
                  <p class="panel-heading__itemName">Marianna</p>
                  <span class="panel-heading__itemNumber">(21) 98712-0921</span>
               </div>

               <div class="panel-body">
                  <p class="panel-heading__itemQty">0.01 GB</p>
                  <span class="panel-heading__itemQtyAvulso">Disponível para transferir</span>
               </div>
             </div>
             <div class="panel panel-default text-align--center cor__third nactive">
              <div class="panel-heading nactive">
                 <p class="panel-heading__itemName">Marcela</p>
                 <span class="panel-heading__itemNumber">(21) 92812-0992</span>
              </div>

              <div class="panel-body">
                 <p class="panel-heading__itemQty more-margin">0.01 GB</p>
                 <span class="panel-heading__itemQtyAvulso">Disponível para transferir</span>
              </div>
            </div>
            <div class="panel panel-default text-align--center cor__third nactive">
             <div class="panel-heading nactive">
                <p class="panel-heading__itemName">Ludmilla</p>
                <span class="panel-heading__itemNumber">(21) 98001-1977</span>
             </div>

             <div class="panel-body">
                <p class="panel-heading__itemQty more-margin">0.01 GB</p>
                <span class="panel-heading__itemQtyAvulso">Disponível para transferir</span>
             </div>
           </div>
           <div class="panel panel-default text-align--center cor__third nactive">
            <div class="panel-heading nactive">
               <p class="panel-heading__itemName">Henrique</p>
               <span class="panel-heading__itemNumber">(21) 99912-2912</span>
            </div>

            <div class="panel-body">
               <p class="panel-heading__itemQty more-margin">0.01 GB</p>
               <span class="panel-heading__itemQtyAvulso">Disponível para transferir</span>
            </div>
          </div>
          <div class="panel panel-default text-align--center cor__third nactive">
           <div class="panel-heading nactive">
              <p class="panel-heading__itemName">Fernando</p>
              <span class="panel-heading__itemNumber">(21) 98712-0921</span>
           </div>

           <div class="panel-body">
              <p class="panel-heading__itemQty">0.01 GB</p>
              <span class="panel-heading__itemQtyAvulso">Disponível para transferir</span>
           </div>
         </div>
         </form>
						</section>


						<section class="section__message atores-desabilitados">
							<p class="cor__second">Saldos atualizados em 20/05/2017 às 18h30. <a href="#" class="message-a">Atualizar saldos.</a></p>
              <p class="cor__second second-info-transf">Pacotes extras contratados não podem ser transferidos.</p>
            </section>
						</div>
					</div>

					<!-- end: div_box_produto -->
		</div>
		<!-- end: div_id_produto -->
		<!-- end: style_minhaoi_container_plano -->

		</div>
		<!-- end: div_content -->

</div>
