<div id="home-produto" class="main pull-left">


  <section class="breadcrumb">
  	<!--  INICIO BREADCRUMB -->
      <strong>Você está em: </strong>
      Início
      &gt;
      Celular
      &gt;
      Oi Total
    <!--  FIM BREADCRUMB -->
	</section>
	<!-- style_minhaoi_nav_produto :: INICIO -->
  <div id="divContent">
	<!-- begin: style_minhaoi_container_plano -->
    <div id="box-internet">
			<h2 class="sub-header">
				<span class="mini-icon-home"></span>
        <a href="/portal/site/MinhaOi/home_produto_int">Oi Pós-Cingapura</a>
			</h2>
			<div class="panel panel-default row box-produto">
				<div class="panel-body">
					<div class="row box-header">
						<div class="container">
							<div class="col-xs-12 pull-left">
										<!-- style_minhaoi_telefones_inclusos :: INICIO -->

                    <!-- begin: style_minhaoi_telefones_inclusos -->
                    <div class="col-xs-12 pull-left">

                      <p>Telefones no plano:</p>
                      <p class="telefones-plano">
                        (21) 98883-0223, (21) 98103-7854, (21) 97850-2047, (21) 97853-8787, (21) 98787-1745
                      </p>
  			              <input id="idProdutoHome" type="hidden" value="">
                    </div>



                    <!-- end: style_minhaoi_telefones_inclusos -->



										<!-- style_minhaoi_telefones_inclusos :: FIM -->
									</div>
									<!-- teste categoria plano oct  -->

								</div>
							</div>

							<!-- style_minhaoi_menu_segundo_nivel :: INICIO -->


              <!-- BEGIN: style_minhaoi_menu_segundo_nivel_int -->

            <section class="account-menu">
              <ul class="clearfix" style="display: flex;justify-content: space-around;">

                <li class="" style="width: 100%;">
              	 <a href="#" style="">Contas</a>
              	</li>

              	<li class="" style="width: 100%;">
              	 <a href="#" style="">Serviços</a>
              	</li>

              	<li class="last-child" style="background: none;width: 100%;">
              	 <a href="/">Oi Pontos</a>
              	</li>

              </ul>
            </section>

            <!-- Cingapura title -->
            <section class="section__title">
              <p class="title-cingapura">Transferência de saldo</p>
              <!-- <p class="pull-right section__help"><a href="#"><i class="material-icons help-icon">&#xE000;</i>Precisa de ajuda?</a></p> -->
            </section>

            <section class="section__escolherItem">
              <p>Transfira internet entre os números do seu plano</p>
            </section>

            <!-- info de erro -->
            <section class="warn-message-info ator-desabilitado nactive">
              <i class="material-icons warn-icon">&#xE8B2;</i>
              <span>
              O número <b class="phone"></b> não pode ter menos de <b>0.01 GB</b>.
              Se o número <b class="phone"></b> precisar de mais internet,
              clique em confirmar e escolha outro número pra transferir.
              </span>
            </section>

						<section class="section__transferencia--selecionados">
              <div class="panel panel-default text-align--center col-xs-5 left-container-avulso">
               <div class="panel-heading">
                  <p class="panel-heading__itemName left-name"></p>
                  <span class="panel-heading__itemNumber cor__second left-phone"></span>
               </div>
               <div class="panel-body">
                  <p class="panel-heading__itemQty">
                    <span class="left-value" id="primary"></span>

                    <!-- <div class="value left"></div> -->

                    <span class="panel-heading__itemQty--lower"> GB</span>
                  </p>
                  <div class="avulso-panel avulso-panel-left">
                    <span class="panel-heading__itemQtyAvulso cor__third left-avulso-value"></span>
                    <p class="panel-heading__blockNumber blocknumber-left">
                      <i data-toggle="tooltip-user-left" class="material-icons help-icon--grey">&#xE000;</i>
                      A internet deste número pode estar bloqueada.
                    </p>
                  </div>
               </div>
             </div>
             <ul class="transferencia-arrows col-xs-1">
               <li><a href="#" class="btn-right" id="btn-right"><i class="material-icons arrow-icon">&#xE315;</i></a></li>
               <li><a href="#" class="btn-left" id="btn-left"><i class="material-icons arrow-icon">&#xE314;</i></a></li>
             </ul>

             <!-- <div class="lend-value">
                <span >&gt;</span>
                <span>&lt;</span>
              </div> -->

              <div class="panel panel-default text-align--center col-xs-5 right-container-avulso">
               <div class="panel-heading">
                  <p class="panel-heading__itemName right-name"></p>
                  <span class="panel-heading__itemNumber cor__second right-phone"></span>
               </div>

               <div class="panel-body">
                   <p class="panel-heading__itemQty">
                     <span class="right-value" id="secondary"></span>

                     <!-- <div class="value right"></div> -->

                     <span class="panel-heading__itemQty--lower"> GB</span>
                   </p>

                  <div class="avulso-panel avulso-panel-right">
                    <span class="panel-heading__itemQtyAvulso cor__third right-avulso-value"></span>
                    <p class="panel-heading__blockNumber blocknumber-right">
                      <i data-toggle="tooltip-user-right" class="material-icons help-icon--grey">&#xE000;</i>
                      A internet deste número pode estar bloqueada.
                    </p>
                  </div>
                </div>
               </div>
             </div>

						</section>

            <section class="section__button">
              <button class="btn btn-default btn-block-transferir-saldo btn-transferir-saldo
              ">Confirmar</button>
            </section>
						<section class="section__message">
              <a href="#" class="transferir">trocar de números</a>
							<p class="cor__second">Saldos atualizados em 20/05/2017 às 18h30.
                <a href="#">Atualizar saldos.</a>
              </p>
              <p class="cor__second second-info-transf">Pacotes extras contratados não podem ser transferidos.</p>

						</section>
						</div>
					</div>

					<!-- end: div_box_produto -->
		</div>
		<!-- end: div_id_produto -->
		<!-- end: style_minhaoi_container_plano -->

		</div>
		<!-- end: div_content -->

</div>
<script>
  /* <!-- inject:js:transferencia --> */
  </script>
