@font-face {
    font-family: 'simplon_oi';
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.eot') format('opentype');
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.woff') format('woff'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.ttf') format('opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.svg#simplon_oiheadline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplon_bpbold';
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-bold-webfont.eot') format('opentype');
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-bold-webfont.woff') format('woff'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-bold-webfont.ttf') format('opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-bold-webfont.svg#simplon_bpbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplon_bpmedium';
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-medium-webfont.eot') format('opentype');
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-medium-webfont.woff') format('woff'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-medium-webfont.ttf') format('opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-medium-webfont.svg#simplon_bpmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplon_bpregular';
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-regular-webfont.eot') format('opentype');
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-regular-webfont.woff') format('woff'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-regular-webfont.ttf') format('opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-regular-webfont.svg#simplon_bpregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplon_bplight';
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-light.eot') format('opentype');
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-light.eot?#iefix') format('embedded-opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-light.woff') format('woff'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-light.ttf') format('opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonbp-light.svg#simplon_bplight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplon_oiheadline';
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.eot') format('opentype');
    src: url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.woff') format('woff'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.ttf') format('opentype'),
         url('/ArquivosEstaticos/MinhaOi/css/fonts/simplonoi-headline-webfont.svg#simplon_oiheadline') format('svg');
    font-weight: normal;
    font-style: normal;

}

